{% extends 'layouts/two_pane.html' %}

{% load custom_tags %}

{% block twoThirds %}

	<!-- Error Summary -->
	{% if errors %}
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There are errors on this page
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					{% for key, value in errors.items %}
						<li>
							<a href="#{{ key }}">
								{{ key|title }}:
								{% for error in value %}
									{{ error }}
								{% endfor %}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	<!-- Page header and description -->
	{% if page.caption %}
		<span class="govuk-caption-l">{{ page.caption }}</span>
	{% endif %}
		<h1 class="govuk-heading-l">{{ page.title }}</h1>
		<div class="govuk-form-group">
			<p class="govuk-caption-m">
				{{ page.description }}
			</p>
		</div>

		<!-- Questions -->
		<form method="post">
			{% csrf_token %}

			{% for question in page.questions %}
				{% if question.html  %}
					{{ question.html|safe }}
				{% else %}
				<div id="pane_{{ question.name }}" class="govuk-form-group
							{% if errors|keyvalue:question.name %}
									govuk-form-group--error
							{% endif %}">
					<label class="govuk-label" for="{{ question.name }}">
						{{ question.title }}
					</label>
					<span class="govuk-hint" for="{{ question.name }}">
						{{ question.description|safe }}
					</span>

	                <!-- Error -->
					{% if errors %}
						{% if errors|keyvalue:question.name %}
							<span for="{{ question.name }}" class="govuk-error-message">
								<span class="govuk-visually-hidden">Error:</span>
								{% for error in errors|keyvalue:question.name %}
									{{ error }}
								{% endfor %}
							</span>
						{% endif %}
					{% endif %}

					<!-- Select component based on input_type -->
					<div class="govuk-form-group">
						{% if question.input_type.name == "HIDDEN" %}
							<input type="hidden" name="{{ question.name }}" value="{{ question.value }}">
						{% elif question.input_type.name == "INPUT" %}
	                    	{% include "form/components/input.html" with name=question.name value=data|keyvalue:question.name|default:'' error=errors|keyvalue:question.name %}
						{% elif question.input_type.name == "CURRENCY" %}
	                    	{% include "form/components/currency.html" with name=question.name value=data|keyvalue:question.name|default:'' error=errors|keyvalue:question.name %}
						{% elif question.input_type.name == "TEXTAREA" %}
	                    	{% include "form/components/textarea.html" with name=question.name extras=question.extras value=data|keyvalue:question.name|default:'' error=errors|keyvalue:question.name %}
						{% elif question.input_type.name == "NUMBER" %}
	                    	{% include "form/components/number.html" with name=question.name value=question.name %}
						{% elif question.input_type.name == "RADIOBUTTONS" %}
	                    	{% include "form/components/radiobuttons.html" with name=question.name value=data|keyvalue:question.name|default:'' data=question.data %}
						{% elif question.input_type.name == "CHECKBOXES" %}
	                    	{% include "form/components/checkboxes.html" with name=question.name value=question.name data=question.data %}
						{% elif question.input_type.name == "SELECT" %}
	                    	{% include "form/components/select.html" with name=question.name value=question.name data=question.data %}
						{% elif question.input_type.name == "AUTOCOMPLETE" %}
	                    	{% include "form/components/autocomplete.html" with name=question.name value=question.name data=question.data %}
						{% elif question.input_type.name == "FILE_UPLOAD" %}
	                    	{% include "form/components/file_upload.html" with name=question.name value=question.name %}
						{% elif question.input_type.name == "MULTI_FILE_UPLOAD" %}
	                    	{% include "form/components/multi_file_upload.html" with name=question.name value=question.name %}
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}

		<!-- Buttons -->
		<div class="govuk-form-group">
			<div class="buttons-row">
				<button type="submit" class="govuk-button" action="submit">Save and continue</button>
				{% if draft_id %}
					<a role="button" draggable="false" class="govuk-button govuk-button--secondary" href="{% url 'new_application:overview' %}?id={{ draft_id }}">
						Go to Overview
					</a>
				{% endif %}
			</div>
		</div>
	</form>

	<script type="text/javascript">
		function showHidePanels() {
			$('input:radio').each(function () {
				var $this = $(this)
				var show_pane = $this.attr('show_pane')
				$('#' + show_pane).addClass('govuk-inset-text')

				if (show_pane) {
					if ($this.is(':checked')) {
						$('#' + show_pane).show()
					} else {
						$('#' + show_pane).hide()
					}
				}
			});
		}

		showHidePanels()

		$("input:radio").on("change", function() {
			showHidePanels()
		});
	</script>

{% endblock %}
{% block oneThird %}
	{% for question in page.helpers %}
		<aside class="lite-related-items" role="complementary">
			<h2 class="govuk-heading-m" id="subsection-title">
				{{ question.title }}
			</h2>
			<p class="govuk-body">
				{{ question.description }}
			</p>
		</aside>
	{% endfor %}
{% endblock %}
