{% extends 'layouts/full_width.html' %}

{% load humanize %}

{% block body %}

	{% if applicationDeleted == "true" %}
		<div class="information information-animated">
			{% get_string 'drafts.deleted' %}
		</div>
	{% endif %}

	<h1 class="govuk-heading-l">{{ title }}</h1>

	{% if data.drafts|length %}
		<table class="lite-table">
			<thead class="lite-table__head">
				<tr class="lite-table__row">
					<th class="lite-table__header">
						Name
					</th>
					<th class="lite-table__header">
						Created On
					</th>
					<th class="lite-table__header">
						Goods
					</th>
					<th class="lite-table__header">
						Application Type
					</th>
					<th class="lite-table__header">
						Export Type
					</th>
					<th class="lite-table__header">
					</th>
				</tr>
			</thead>
			<tbody class="lite-table__head">
				{% for draft in data.drafts %}
					<tr class="lite-table__row">
						<td class="lite-table__cell">
							<a class="govuk-link" href="{% url 'apply_for_a_licence:overview' draft.id %}">
								{{ draft.name }}
							</a>
						</td>
						<td class="lite-table__cell">
							<a class="hoverable-link tooltip">
								<span class="tooltip-content" style="min-width: 150px;">
									{{ draft.last_modified_at|str_date }}
								</span>
								{{ draft.last_modified_at|str_date|naturaltime }}
							</a>
						</td>
						<td class="lite-table__cell">
							<a class="hoverable-link tooltip">
								<span class="tooltip-content" style="min-width: 150px;">
									{% for good in application.goods %}
										{{ good.name }}<br/>
									{% endfor %}
								</span>
								{{ application.goods|length }} Good{{ application.goods|length|pluralize }}
							</a>
						</td>
						<td class="lite-table__cell">
							{{ draft.licence_type }}
						</td>
						<td class="lite-table__cell">
							{{ draft.export_type }}
						</td>
						<td class="lite-table__cell">
							<a href="{% url 'apply_for_a_licence:delete' draft.id %}" style="margin: 0;" class="cancel-link">Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<!--<div class="lite-pagination">
			<a href="#" class="lite-pagination--item lite-pagination--selected-item">
				1
			</a>
			<a href="#" class="lite-pagination--item">
				2
			</a>
			<a href="#" class="lite-pagination--item">
				3
			</a>
			<a href="#" class="lite-pagination--item">
				4
			</a>
		</div>-->

	{% else %}
		<p class="govuk-caption-l">You don't have any drafts at the moment.</p>
	{% endif %}

	{% load static %}
	<script src="{% static 'javascripts/modal.js' %}"></script>
	<script src="{% static 'javascripts/specific/overview.js' %}"></script>

{% endblock %}
