{% extends 'layouts/full_width.html' %}

{% load humanize svg %}

{% block back_link %}
	<a href="/" class="govuk-back-link">Back to Hub</a>
{% endblock %}

{% block body %}

	{% if applicationDeleted == "true" %}
		<div class="information information-animated">
			{% get_string 'drafts.deleted' %}
		</div>
	{% endif %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{{ title }}</h1>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'apply_for_a_licence:index' %}" class="govuk-button" draggable="false" role="button">
				{% get_string 'licences.apply_for_a_licence' %}
			</a>
		</div>
	</div>

	{% if data.drafts|length %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header">
						Name
					</th>
					<th class="govuk-table__header">
						Created On
					</th>
					<th class="govuk-table__header">
						Goods
					</th>
					<th class="govuk-table__header">
						Export Type
					</th>
					<th class="govuk-table__header">
					</th>
				</tr>
			</thead>
			<tbody class="govuk-table__head">
				{% for draft in data.drafts %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a class="govuk-link govuk-link--no-visited-state" style="font-weight: bold;" href="{% url 'apply_for_a_licence:overview' draft.id %}">
								{{ draft.name }}
							</a>
							<p class="govuk-!-font-size-16" style="opacity: 0.7; margin: 0; margin-top: 5px;">
								{{ draft.licence_type|sentence_case }}
							</p>
						</td>
						<td class="govuk-table__cell">
							{{ draft.last_modified_at|str_date }}
						</td>
						<td class="govuk-table__cell">
							{{ draft.goods|length }} Good{{ draft.goods|length|pluralize }}
						</td>
						<td class="govuk-table__cell">
							{{ draft.export_type|sentence_case }}
						</td>
						<td class="govuk-table__cell">
							<a href="{% url 'apply_for_a_licence:delete' draft.id %}" style="margin: 0;" class="govuk-link">
								Delete
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<!--<div class="lite-pagination">
			<a href="#" class="lite-pagination--item lite-pagination--selected-item">
				1
			</a>
			<a href="#" class="lite-pagination--item">
				2
			</a>
			<a href="#" class="lite-pagination--item">
				3
			</a>
			<a href="#" class="lite-pagination--item">
				4
			</a>
		</div>-->

	{% else %}
		<p class="govuk-caption-l">{% get_string 'drafts.no_drafts' %}</p>
	{% endif %}

	{% load static %}
	<script src="{% static 'javascripts/modal.js' %}"></script>
	<script src="{% static 'javascripts/specific/overview.js' %}"></script>

{% endblock %}
