{% extends 'layouts/two_pane.html' %}

{% load humanize %}

{% block back-button %}
	<a href="{% url 'new_application:overview' %}?id={{ draft_id }}" class="govuk-back-link">Back to Overview</a>
{% endblock%}

{% block body %}

	<span class="govuk-caption-m">{{ draft.draft.name }}</span>
	<div class="lite-app-bar">
		<h2 class="govuk-heading-l">{{ title }}</h2>
		<div class="lite-app-bar--right">
			<a href="{% url 'new_application:preexisting_good' %}?id={{ draft_id }}" role='button' draggable='false' class='govuk-button'>Add from organisations goods</a>
		</div>
	</div>

	{% if data.goods|length %}
		{% for good in data.goods %}
			<div class="lite-item">
				<h4 class="govuk-heading-s" style="margin-bottom: 0;">{{ good.good.description }}</h4>
				<span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Part Number: </span><p class="govuk-label" style="display: inline-block; {% if not good.good.part_number %}opacity: 0.4;{% endif %}">{{ good.good.part_number|default:"N/A" }}</p>
				<br/>
				<span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Control Code: </span><p class="govuk-label" style="display: inline-block; {% if not good.good.control_code %}opacity: 0.4;{% endif %}">{{ good.good.control_code|default:"N/A" }}</p>
				<br/>
				<span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Quantity: </span><p class="govuk-label" style="display: inline-block;">{{ good.quantity }} {{ good.unit|lower|pluralise_unit:good.quantity }}</p>
				<br/>
				<span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Monetary Value: </span><p class="govuk-label" style="display: inline-block;">£{{ good.value }}</p>
			</div>
		{% endfor %}
	{% else %}
		<p class="govuk-caption-l">You don't have any goods at the moment.</p>
	{% endif %}

{% endblock %}
