{% extends 'layouts/two_pane.html' %}

{% load static %}

{% block back_link %}
	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="{{ GOV_UK_URL }}">Home</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="/">{{ SERVICE_NAME }}</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="{% url 'sites:sites' %}">Sites</a>
			</li>
		</ol>
	</div>
{% endblock %}

{% block full_width %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-xl">
				{% block title %}
					{{ site.name }}
				{% endblock %}
			</h1>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'sites:edit' site.id %}" class="govuk-button govuk-button--secondary">
				Edit site
			</a>
		</div>
	</div>
{% endblock %}

{% block two_thirds %}
	{% if site.id == organisation.primary_site.id %}
		<div class="govuk-!-margin-bottom-8">
			<span class="govuk-inset-text">This is your organisation's primary site</span>
		</div>
	{% endif %}

	<dl class="govuk-summary-list govuk-summary-list--no-border">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Building and street
			</dt>
			<dd class="govuk-summary-list__value">
				{{ site.address.address_line_1 }}
			</dd>
		</div>
		{% if site.address.address_line_2 %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key"></dt>
				<dd class="govuk-summary-list__value">
					{{ site.address.address_line_2 }}
				</dd>
			</div>
		{% endif %}
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Town or city
			</dt>
			<dd class="govuk-summary-list__value">
				{{ site.address.city }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				County/State
			</dt>
			<dd class="govuk-summary-list__value">
				{{ site.address.region }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Postal Code
			</dt>
			<dd class="govuk-summary-list__value">
				{{ site.address.postcode }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Country
			</dt>
			<dd class="govuk-summary-list__value">
				{{ site.address.country.name }}
			</dd>
		</div>
	</dl>

	<hr class="lite-horizontal-separator">

	<h2 class="govuk-heading-m">Members</h2>
	<dl class="govuk-summary-list govuk-summary-list--no-border">
		{% for user in site.users %}
			<div class="govuk-summary-list__row">
				<dd class="govuk-summary-list__value">
					{% if user.first_name %}
						<span class="govuk-!-font-weight-bold">{{ user.first_name }} {{ user.last_name }}</span>
					{% else %}
						<strong class="govuk-tag govuk-phase-banner__content__tag ">
							{% lcs "USER_PENDING" %}
						</strong>
					{% endif %}
					<span class="govuk-hint">{{ user.email }}</span>
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="{% url 'users:user' user.id %}">
						View
					</a>
				</dd>
			</div>
		{% endfor %}
	</dl>
{% endblock %}
