[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
libsass = "==0.18.0"
selenium = "==3.141.0"
pytest = "==5.1.2"
pytest_bdd = "==3.1.0"
allure-pytest = "==2.6.1"
pytest-html = "*"
prospector = "==1.1.6.2"

[packages]
Django = "==2.2.4"
django-compressor = "==2.2"
django-environ = "==0.4.5"
django-sass-processor = "==0.7.2"
libsass = "==0.19.1"
python-json-logger = "==0.1.11"
requests = "==2.21.0"
psycopg2 = "==2.8.2"
django-inline-svg = "*"
pytest-bdd = "*"
raven = ">=6.10.0"
requests-oauthlib = ">=1.2.0"
s3chunkuploader = "*"
boto3 = ">=1.9"
prospector = "*"
lite-forms = "*"

[requires]
python_version = "3.7"
