{% extends 'layouts/two-pane.html' %}

{% block back_link %}
	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="/">{{ SERVICE_NAME }}</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="{% url 'organisation:sites:sites' %}">{% lcs 'core.HubPage.ORGANISATION' %}</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				{{ site.name }}
			</li>
		</ol>
	</div>
{% endblock %}

{% block full_width %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-xl">
				{% block title %}
					{{ site.name }}
				{% endblock %}
			</h1>
		</div>
		<div class="lite-app-bar__controls">
			<a id="button-edit" href="{% url 'organisation:sites:edit' site.id %}" class="govuk-button govuk-button--secondary">
				{% lcs "sites.SitesPage.EDIT_SITE" %}
			</a>
		</div>
	</div>
{% endblock %}

{% block two_thirds %}
	{% if site.id == organisation.primary_site.id %}
		<div class="govuk-!-margin-bottom-8">
			<span class="govuk-inset-text">{% lcs "sites.SitesPage.PRIMARY_SITE_DETAIL" %}</span>
		</div>
	{% endif %}

	<dl class="govuk-summary-list govuk-summary-list--no-border">
		{% if site.address %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					{% lcs "Address.ADDRESS_LINE_1" %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ site.address.address_line_1 }}
				</dd>
			</div>
			{% if site.address.address_line_2 %}
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key"></dt>
					<dd class="govuk-summary-list__value">
						{{ site.address.address_line_2 }}
					</dd>
				</div>
			{% endif %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					{% lcs "Address.TOWN" %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ site.address.city }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					{% lcs "Address.COUNTY" %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ site.address.region }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					{% lcs "Address.POSTAL_CODE" %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ site.address.postcode }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					{% lcs "Address.COUNTRY" %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ site.address.country.name }}
				</dd>
			</div>
		{% else %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					{% lcs "Address.ADDRESS" %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ site.foreign_address.address }}
				</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					{% lcs "Address.COUNTRY" %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ site.foreign_address.country.name }}
				</dd>
			</div>
		{% endif %}
	</dl>

	<hr class="lite-horizontal-separator">

	<h2 class="govuk-heading-m">{% lcs "sites.SitesPage.MEMBERS" %}</h2>
	<dl class="govuk-summary-list govuk-summary-list--no-border">
		{% for user in site.users %}
			<div class="govuk-summary-list__row">
				<dd class="govuk-summary-list__key">
					{% if user.first_name %}
						<span class="govuk-!-font-weight-bold">{{ user.first_name }} {{ user.last_name }}</span>
					{% else %}
						<strong class="govuk-tag govuk-tag--blue">
							{% lcs 'users.UsersPage.USER_PENDING' %}
						</strong>
					{% endif %}
				</dd>
				<dd class="govuk-summary-list__value govuk-hint">
					{{ user.email }}
				</dd>
				<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="{% url 'organisation:members:user' user.id %}">
						{% lcs 'generic.VIEW' %}
					</a>
				</dd>
			</div>
		{% endfor %}
	</dl>
{% endblock %}
