{% extends 'layouts/base.html' %}

{% load svg %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' with title='core.HubPage.ORGANISATION' %}
{% endblock %}

{% block body %}
	<h1 class="govuk-heading-l">{{ organisation.name }}</h1>

	<div class="lite-tabs__container">
		<div class="lite-tabs">
			{% if organisation.sub_type.key != 'individual' %}
				{% if can_administer_users %}
					<a href="{% url 'users:users' %}" class="lite-tabs__tab" id="tab-users">{% lcs "users.UsersPage.MANAGE_ORGANISATIONS_MEMBERS_TAB" %}</a>
				{% endif %}
			{% endif %}
			{% if can_administer_sites %}<a href="{% url 'sites:sites' %}" class="lite-tabs__tab lite-tabs__tab" id="tab-sites">{% lcs "sites.SitesPage.TAB" %}</a>{% endif %}
			<a href="{% url 'roles:roles' %}" class="lite-tabs__tab lite-tabs__tab--selected" id="tab-roles">{% lcs "roles.ManageRolesPage.TAB" %}</a>
		</div>
		{% if 'EXPORTER_ADMINISTER_ROLES' in user_permissions %}
			<div class="lite-tabs__controls">
				<a id="button-add-role" href="{% url 'roles:new' %}" class="govuk-button" draggable="false" role="button">
					{% lcs 'roles.ManageRolesPage.ADD_BUTTON' %}
				</a>
			</div>
		{% endif %}
	</div>

	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="col">{% lcs "roles.ManageRolesPage.Table.HEADER_ROLE" %}</th>
				<th class="govuk-table__header" scope="col">{% lcs "roles.ManageRolesPage.Table.HEADER_PERMISSIONS" %}<span aria-hidden="true">can</span></th>
				<th class="govuk-table__header" scope="col"></th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for role in roles %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						{{ role.name }}
					</td>
					<td class="govuk-table__cell">
						<ul class="lite-tick-cross-list">
							{% for permission in all_permissions %}
								<li>
									{% if permission.id in role.permissions %}
										<span class="lite-tick-cross lite-tick-cross--tick">
											{% svg 'tick' %}
											<span class="govuk-visually-hidden">Can</span>
											{{ permission.name }}
										</span>
									{% else %}
										<span class="lite-tick-cross lite-tick-cross--cross">
											{% svg 'cross' %}
											<span class="govuk-visually-hidden">Cannot</span>
											{{ permission.name }}
										</span>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">
						{% if not role.id in immutable_roles %}
							{% if 'EXPORTER_ADMINISTER_ROLES' in user_permissions %}
								{% if role.id != user_role_id %}
									<a href="{% url 'roles:edit' role.id %}" class="govuk-link govuk-link--no-visited-state">{% lcs "roles.ManageRolesPage.Table.EDIT_ROLE" %}</a>
								{% endif %}
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
