{% extends 'layouts/base.html' %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' %}
{% endblock %}

{% block body %}

	<h2 class="govuk-heading-l">{{ organisation.name }}</h2>

	<div style="display: grid; grid-template-columns: 1fr auto; grid-gap: 30px;">
		<div class="lite-tabs--fade">
			<div class="lite-tabs">
                {% if organisation.sub_type.key != 'individual' %}
				    <a href="{% url 'users:users' %}" class="lite-tabs__tab">Members</a>
                {% endif %}
				<a href="{% url 'sites:sites' %}" class="lite-tabs__tab lite-tabs__tab">Sites</a>
				<a href="{% url 'roles:roles' %}" class="lite-tabs__tab lite-tabs__tab--selected">Roles</a>
			</div>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'sites:new' %}" class="govuk-button" draggable="false" role="button">
				{% get_string 'sites.create' %}
			</a>
		</div>
	</div>

	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header">
					Name
				</th>
				<th class="govuk-table__header">
					Address
				</th>
				<th class="govuk-table__header"></th>
			</tr>
		</thead>
		<tbody class="govuk-table__head">
			{% for site in sites %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell" style="vertical-align: top;">
						{{ site.name }}
						{% if site.id == organisation.primary_site.id %}
							<span class="govuk-caption-m" style="display: inline;">(Primary Site)</span>
						{% endif %}
					</td>
					<td class="govuk-table__cell" style="vertical-align: top;">
						{{ site.address.address_line_1 }}<br/>
						{% if site.address.address_line_2 %}
							{{ site.address.address_line_2 }}<br/>
						{% endif %}
						{{ site.address.city }}<br/>
						{{ site.address.postcode }}<br/>
						{{ site.address.country.name }}
					</td>
					<td class="govuk-table__cell" style="vertical-align: top;">
						<a href="{% url 'sites:edit' site.id %}" class="govuk-link govuk-link--no-visited-state">Edit</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
