{% extends 'layouts/base.html' %}

{% load svg %}

{% block back_link %}
	<a href="{% url 'applications:edit' application.id %}" class="govuk-back-link">Back to Application</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{% block title %}{% get_string 'third_parties.title' %}{% endblock %}</h1>
		</div>
        {% if not application.status.value or application.status.key == 'applicant_editing' %}
		<div class="lite-app-bar__controls">
			<a href="{% url 'applications:add_third_party' application.id %}" class="govuk-button" draggable="false" role="button">
				{% get_string 'third_parties.add' %}
			</a>
		</div>
        {% endif %}
	</div>

	{% if third_parties %}
	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="col">Name</th>
				<th class="govuk-table__header" scope="col">Type</th>
				<th class="govuk-table__header" scope="col">Website</th>
				<th class="govuk-table__header" scope="col">Address</th>
				<th class="govuk-table__header" scope="col">Country</th>
	            <th class="govuk-table__header" scope="col">Document</th>
				<th class="govuk-table__header" scope="col"></th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for third_party in third_parties %}
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">{{ third_party.name }}</td>
				<td class="govuk-table__cell">{{ third_party.sub_type.value }}</td>
				<td class="govuk-table__cell">{{ third_party.website|default_na }}</td>
				<td class="govuk-table__cell">{{ third_party.address }}</td>
				<td class="govuk-table__cell">{{ third_party.country.name }}</td>
	            <td class="govuk-table__cell">
	            {% if third_party.document %}
	                {%  if third_party.document.safe == True %}
	                    <a href="{% url 'applications:third_party_download_document' application.id third_party.id %}" id="document_download" class='govuk-link govuk-link--no-visited-state'>
	                        Download
	                    </a>
	                    <br/>
	                    <a href="{% url 'applications:third_party_delete_document' application.id third_party.id %}" id="document_delete" class='govuk-link govuk-link--no-visited-state'>
	                        Delete
	                    </a>
	                {% else %}
	                    Processing
	                {% endif %}
	            {% else %}
	                <a href="{% url 'applications:third_party_attach_document' application.id third_party.id %}" id="attach_doc" class='govuk-link govuk-link--no-visited-state'>
	                    Attach
	                </a>
	            {% endif %}
				<td class="govuk-table__cell govuk-table__cell--numeric">
					<a href="{% url 'applications:remove_third_party' application.id third_party.id %}" class="govuk-link lite-link--icon">
						{% svg 'close' %}
						Remove third party
	                </a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p class="govuk-caption-l">{% get_string 'third_parties.no_results' %}</p>
	{% endif %}

{% endblock %}
