<div class="lite-tabs__container">
	<div class="lite-tabs">
		{% with request.GET.licence_type as licence_type %}
			<a id="licences-tab" href="{% url 'licences:licences' %}?licence_type=licence" class="lite-tabs__tab lite-tabs__tab{% if not licence_type or licence_type == "licence" %}--selected{% endif %}">
				{% lcs "licences.LicencesList.Tabs.LICENCE" %}
			</a>
			<a id="clearances-tab" href="{% url 'licences:licences' %}?licence_type=clearance" class="lite-tabs__tab lite-tabs__tab{% if licence_type == "clearance" %}--selected{% endif %}">
				{% lcs "licences.LicencesList.Tabs.CLEARANCE" %}
			</a>
			<a id="nlrs-tab" href="{% url 'licences:licences' %}?licence_type=nlr" class="lite-tabs__tab lite-tabs__tab{% if licence_type == "nlr" %}--selected{% endif %}">
				{% lcs "licences.LicencesList.Tabs.NLR" %}
			</a>
		{% endwith %}
	</div>
</div>
