{% extends 'layouts/two_pane.html' %}

{% block back_link %}{% endblock %}

{% block two_thirds %}

	<h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
		{% block title %}
			Raise a query on behalf of {{ application.organisation.name }}
		{% endblock %}
	</h1>

	<ol class="lite-task-list">
		<li>
			<h2 class="lite-task-list__section">
				<span class="lite-task-list__section-number">1. </span> Provide details of your query
			</h2>
		    <ul class="lite-task-list__items">
				{% url 'applications:goods_types' application.id as goods_url %}
				{% include "includes/task-list-item.html" with title="Describe your goods" url=goods_url status=goods_types_status %}

				{% url 'applications:location' application.id as goods_location_url %}
				{% include "includes/task-list-item.html" with title="Goods locations" url=goods_location_url status=goods_locations_status %}

				{% url 'applications:end_user' application.id as end_user_url %}
				{% include "includes/task-list-item.html" with title="Set end user" url=end_user_url status=end_user_status %}

				{% url 'applications:ultimate_end_users' application.id as ultimate_end_user_url %}
				{% include "includes/task-list-item.html" with title="Add ultimate end users" url=ultimate_end_user_url status=ultimate_end_users_status optional=True %}

				{% url 'applications:third_parties' application.id as third_parties_url %}
				{% include "includes/task-list-item.html" with title="Add third parties" url=third_parties_url status=third_parties_status optional=True %}

				{% url 'applications:consignee' application.id as consignee_url %}
				{% include "includes/task-list-item.html" with title="Add a consignee" url=consignee_url status=consignee_status optional=True %}

				{% url 'applications:additional_documents' application.id as supporting_documentation_url %}
				{% include "includes/task-list-item.html" with title="Attach supporting documentation" url=supporting_documentation_url status=supporting_documentation_status optional=True %}

				{% url 'applications:optional_note' application.id as optional_note_url %}
				{% include "includes/task-list-item.html" with title="Explain the reason behind your query" url=optional_note_url status=optional_note_status optional=True %}
			</ul>
		</li>
	</ol>

	<ol class="lite-task-list">
		<li>
			<h2 class="lite-task-list__section">
				<span class="lite-task-list__section-number">2. </span> Check your answers
			</h2>
			<ul class="lite-task-list__items">
				{% if show_submit_button %}
					{% url 'applications:check_your_answers' application.id as check_your_answers_url %}
			        {% include "includes/task-list-item.html" with title="Check your answers" url=check_your_answers_url hide_tag=True %}
				{% else %}
					<li class="lite-task-list__item">
						<div class="lite-task-list__item-header">
							Check your answers
						</div>
					</li>
				{% endif %}
			</ul>
		</li>
		{% if show_submit_button %}
			<li>
				<form method="post">
	                {% csrf_token %}
					<button type="submit" value="submit" class="govuk-button">Submit</button>
				</form>
			</li>
		{% endif %}
	</ol>

	<!-- <ol class="lite-task-list">
		<li>
			<h2 class="lite-task-list__section">
				<span class="lite-task-list__section-number">3. </span> Confirm and submit your query
			</h2>
		    <ul class="lite-task-list__items">
				{% url 'applications:submit' application.id as confirm_url %}
				{% include "includes/task-list-item.html" with title="Confirm and submit your query" url=confirm_url %}
			</ul>
		</li>
	</ol> -->

{% endblock %}
