{% extends 'layouts/base.html' %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' %}
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{% block title %}Applications{% endblock %}</h1>
		</div>
		<div class="lite-app-bar__controls">
			{% if organisation.type.key == 'hmrc' %}
				<a href="{% url 'hmrc:raise_a_query' %}" class="govuk-button" draggable="false" role="button">
					Raise a query
				</a>
			{% else %}
				<a href="." class="govuk-button govuk-button--secondary" draggable="false" role="button">
					{% get_string 'licences.refresh' %}
				</a>
				<a href="{% url 'apply_for_a_licence:start' %}" class="govuk-button" draggable="false" role="button">
					{% get_string 'licences.apply_for_a_licence' %}
				</a>
			{% endif %}
		</div>
	</div>

	<div class="lite-tabs__container">
		<div class="lite-tabs">
			<a href="{% url 'applications:applications' %}?submitted=True" class="lite-tabs__tab lite-tabs__tab--selected">
				In Progress
			</a>
			<a href="{% url 'applications:applications' %}?submitted=False" class="lite-tabs__tab">
				Drafts
			</a>
		</div>
	</div>

	{% if applications.results %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{% lcs 'APPLICATION_REFERENCE_NAME' %}</th>
					<th class="govuk-table__header" scope="col"></th>
					{% if organisation.type.key != 'hmrc' %}
						<th class="govuk-table__header" scope="col">{% lcs 'APPLICATION_TYPE' %}</th>
					{% endif %}
					<th class="govuk-table__header" scope="col">{% lcs 'APPLICATION_LAST_UPDATED_AT' %}</th>
					{% if organisation.type.key != 'hmrc' %}
						<th class="govuk-table__header" scope="col">{% lcs 'APPLICATION_STATUS' %}</th>
					{% endif %}
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for application in applications.results %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a class="govuk-link govuk-link--no-visited-state app-icon-label"
							    {% if application.status.key == 'applicant_editing' %}
									href="{% url 'applications:task_list' application.id %}">
								{% else %}
									href="{% url 'applications:application' application.id %}">
								{% endif %}
								{{ application.name }}
							</a>
						</td>
						<td class="govuk-table__cell">
							{% if application.id in notifications %}
								<span class="lite-notification-bubble">{{ notifications|key_value:application.id }} <span class="govuk-visually-hidden"> notifications</span></span>
							{% endif %}
						</td>
						{% if organisation.type.key != 'hmrc' %}
							<td class="govuk-table__cell">
								{{ application.application_type.value }}
							</td>
						{% endif %}
						<td class="govuk-table__cell">
							{{ application.last_modified_at|str_date }}
						</td>
						{% if organisation.type.key != 'hmrc' %}
							<td class="govuk-table__cell">{{ application.status.value }}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% include "includes/pagination.html" with data=applications %}

	{% else %}
		<br>
		<div class="lite-information-text">
			<span class="lite-information-text__icon" aria-hidden="true">!</span>
			<p class="lite-information-text__text">
			<span class="govuk-visually-hidden">Information</span>
				You haven't applied for any licences yet.
			</p>
		</div>
	{% endif %}

{% endblock %}
