{% extends 'layouts/base.html' %}

{% load humanize static %}

{% block body %}

<h2 class="govuk-heading-l">{{ title }}</h2>

<div class="lite-information-board">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Licence Type</p>
			<p class="govuk-label">{{ data.application.licence_type.value }}</p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Export Type</p>
			<p class="govuk-label">
				{{ data.application.export_type.value }}
			</p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Last Updated</p>
			<p class="govuk-label">
				{{ data.application.last_modified_at|str_date }}
			</p>
		</div>
	</div>
</div>

<div class="lite-tabs--fade">
	<div class="lite-tabs">
		<!-- <a class="lite-tabs__tab selected">Goods</a> -->
		<!-- <a class="lite-tabs__tab selected">Destinations</a> -->
		<a class="lite-tabs__tab selected">Notes</a>
		<!-- <a class="lite-tabs__tab selected">Notes</a> -->
		<!-- <a class="lite-tabs__tab">Requests for Information</a>
		<a class="lite-tabs__tab">Messages</a>
		<a class="lite-tabs__tab">Ammend/Withdraw</a>
		<a class="lite-tabs__tab">Outcome Documents</a> -->
	</div>
</div>

{% include "applications/tabs/notes.html" %}

{% endblock %}
