{% extends 'layouts/base.html' %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' %}
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{% block title %}{% lcs "applications.ApplicationsList.TITLE" %}{% endblock %}</h1>
		</div>
		<div class="lite-app-bar__controls">
			{% if organisation.type.key == 'hmrc' %}
				<a href="{% url 'hmrc:raise_a_query' %}" class="govuk-button" draggable="false" role="button">
					{% lcs "applications.ApplicationsList.RAISE_A_QUERY_BUTTON" %}
				</a>
			{% else %}
				<a href="." class="govuk-button govuk-button--secondary" draggable="false" role="button">
					{% lcs "applications.ApplicationsList.REFRESH_BUTTON" %}
				</a>
				<a href="{% url 'apply_for_a_licence:start' %}" class="govuk-button" draggable="false" role="button">
					{% lcs "applications.ApplicationsList.APPLY_FOR_A_LICENCE_BUTTON" %}
				</a>
			{% endif %}
		</div>
	</div>

	<div class="lite-tabs__container">
		<div class="lite-tabs">
			<a href="{% url 'applications:applications' %}?submitted=True" class="lite-tabs__tab lite-tabs__tab--selected">
				{% lcs "applications.ApplicationsList.IN_PROGRESS_TAB" %}
			</a>
			<a href="{% url 'applications:applications' %}?submitted=False" class="lite-tabs__tab">
				{% lcs "applications.ApplicationsList.DRAFTS_TAB" %}
			</a>
		</div>
	</div>

	{% if applications.results %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.NAME" %}</th>
					<th class="govuk-table__header" scope="col"></th>
					{% if organisation.type.key != 'hmrc' %}
						<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.REFERENCE_CODE" %}</th>
						<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.TYPE" %}</th>
					{% endif %}
					<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.LAST_UPDATED_AT" %}</th>
					{% if organisation.type.key != 'hmrc' %}
						<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.STATUS" %}</th>
					{% endif %}
					<th class="govuk-table__header" scope="col">Actions</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for application in applications.results %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a class="govuk-link govuk-link--no-visited-state app-icon-label"
								{% if application.status.key == 'applicant_editing' %}
									href="{% url 'applications:task_list' application.id %}">
								{% else %}
									href="{% url 'applications:application' application.id %}">
								{% endif %}
								{{ application.name|default:application.reference_code }}
							</a>
						</td>
						<td class="govuk-table__cell">
							{% if application.exporter_user_notification_count.total %}
								<span class="lite-notification-bubble">{{ application.exporter_user_notification_count.total }} <span class="govuk-visually-hidden"> {% lcs "applications.ApplicationsList.NOTIFICATIONS_SUFFIX" %}</span></span>
							{% endif %}
						</td>
						{% if organisation.type.key != 'hmrc' %}
							<td class="govuk-table__cell">
								{{ application.reference_code }}
							</td>
							<td class="govuk-table__cell">
								{{ application.case_type.sub_type.value }}
							</td>
						{% endif %}
						<td class="govuk-table__cell">
							{{ application.updated_at|str_date }}
						</td>
						{% if organisation.type.key != 'hmrc' %}
							<td class="govuk-table__cell">{{ application.status.value }}</td>
						{% endif %}
						<td class="govuk-table__cell">
							<a class="govuk-link govuk-link--no-visited-state app-icon-label" href="{% url 'applications:copy' application.id %}">
								{% lcs "applications.ApplicationsList.COPY_LINK" %}
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% include "includes/pagination.html" with data=applications %}
	{% else %}
		{% include "includes/notice.html" with text="applications.ApplicationsList.NO_CONTENT_NOTICE" %}
	{% endif %}
{% endblock %}
