{% extends 'layouts/base.html' %}

{% load humanize static %}

{% block body %}

<h2 class="govuk-heading-l">{{ title }}</h2>

<div class="lite-information-board">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Licence Type</p>
			<p class="govuk-label">{{ application.licence_type.value }}</p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Export Type</p>
			<p class="govuk-label">
				{{ application.export_type.value }}
			</p>
		</div>
		<div class="govuk-grid-column-one-third">
			<p class="lite-heading-s">Last Updated</p>
			<p class="govuk-label">
				{{ application.last_modified_at|str_date }}
			</p>
		</div>
	</div>
</div>

<div class="lite-tabs--fade">
	<div class="lite-tabs">
		<a href="{% url 'applications:application-detail' application.id 'case-notes' %}" class="lite-tabs__tab {% if type == 'case-notes' %}selected{% endif %}" id="case-notes-tab">
			Notes
            {% if notifications %}
                <div class="lite-notification-bubble">
                    {{ notifications }}
                </div>
            {% endif %}
		</a>
		<a href="{% url 'applications:application-detail' application.id 'ecju-queries' %}" class="lite-tabs__tab {% if type == 'ecju-queries' %}selected{% endif %}" id="ecju-queries-tab">
			ECJU Queries
			{% if open_queries %}
				<div class="lite-notification-bubble">
					{{ open_queries|length }}
				</div>
			{% endif %}
		</a>
		<!-- <a class="lite-tabs__tab selected">Goods</a>
		<a class="lite-tabs__tab selected">Destinations</a>
		<a class="lite-tabs__tab selected">Notes</a>
		<a class="lite-tabs__tab">Messages</a>
		<a class="lite-tabs__tab">Amend/Withdraw</a>
		<a class="lite-tabs__tab">Outcome Documents</a> -->
	</div>
</div>
{% if type == 'case-notes' %}
	{% include "applications/tabs/case-notes.html" %}
{% elif type == 'ecju-queries'%}
	{% include "applications/tabs/ecju-queries.html" %}
{% endif %}

{% endblock %}
