{% extends 'layouts/base.html' %}

{% load static %}

{% block back_link %}
    <a href="{% url 'applications:applications' %}" id="back-link" class="govuk-back-link">Back</a>
{% endblock %}

{% block body %}
    <div class="lite-app-bar">
        <div class="lite-app-bar__content">
            <h1 class="govuk-heading-l">{{ title }}</h1>
        </div>
        <div class="lite-app-bar__controls">
			{% if application.application_type.key != 'hmrc_query' %}
                {%  if not status_is_terminal %}
				    <a href="{% url 'applications:withdraw' application.id %}" id="button-withdraw-application" class="govuk-button govuk-button--secondary">
					    {% lcs 'applications.ApplicationSummaryPage.Buttons.WITHDRAW_ACCESS_BUTTON' %}
				    </a>
                {% endif %}
                {%  if not status_is_read_only %}
				    <a href="{% url 'applications:edit_type' application.id %}" id="button-edit-application" class="govuk-button govuk-button--secondary">
					    {% lcs 'applications.ApplicationSummaryPage.Buttons.EDIT_APPLICATION_BUTTON' %}
				    </a>
                {% endif %}
			{% endif %}
        </div>
    </div>

	<dl class="govuk-summary-list govuk-summary-list--no-border">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				{% lcs 'applications.ApplicationSummaryPage.TYPE' %}
			</dt>
			<dd class="govuk-summary-list__value">
				{{ application.application_type.value }}
			</dd>
		</div>
		{% if application.application_type.key != 'hmrc_query' %}
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				{% lcs 'applications.ApplicationSummaryPage.EXPORT_TYPE' %}
			</dt>
			<dd class="govuk-summary-list__value">
				{{ application.export_type.value }}
			</dd>
		</div>
		{% endif %}
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				{% lcs 'applications.ApplicationSummaryPage.STATUS' %}
			</dt>
			<dd id="label-application-status" class="govuk-summary-list__value">
				{{ application.status.value }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				{% lcs 'applications.ApplicationSummaryPage.SUBMITTED_AT' %}
			</dt>
			<dd class="govuk-summary-list__value">
				{{ application.submitted_at|str_date }}
			</dd>
		</div>
	</dl>

    <div class="lite-tabs__container">
        <div class="lite-tabs">
			<a href="{% url 'applications:application' application.id %}" class="lite-tabs__tab {% if not type %}lite-tabs__tab--selected{% endif %}" id="link-details">
            {% lcs 'applications.ApplicationSummaryPage.Tabs.DETAILS' %}
			</a>
			{% if application.application_type.key != 'hmrc_query' %}
				<a href="{% url 'applications:application' application.id 'case-notes' %}" class="lite-tabs__tab {% if type == 'case-notes' %}lite-tabs__tab--selected{% endif %}" id="link-case-notes">
                    {% lcs 'applications.ApplicationSummaryPage.Tabs.NOTES' %}
					{% if application.exporter_user_notification_count.casenote %}
						<div class="lite-notification-bubble">
							{{ application.exporter_user_notification_count.casenote }}
						</div>
					{% endif %}
				</a>
	            <a href="{% url 'applications:application' application.id 'ecju-queries' %}" class="lite-tabs__tab {% if type == 'ecju-queries' %}lite-tabs__tab--selected{% endif %}" id="link-ecju-queries">
	                {% lcs 'applications.ApplicationSummaryPage.Tabs.ECJU_QUERIES' %}
	                {% if application.exporter_user_notification_count.ecjuquery %}
	                    <div class="lite-notification-bubble">
	                        {{ application.exporter_user_notification_count.ecjuquery }}
	                    </div>
	                {% endif %}
	            </a>
			{% endif %}
            <a href="{% url 'applications:application' application.id 'generated-documents' %}" class="lite-tabs__tab {% if type == 'generated-documents' %}lite-tabs__tab--selected{% endif %}" id="link-generated-documents">
                {% lcs 'applications.ApplicationSummaryPage.Tabs.GENERATED_DOCUMENTS' %}
                {% if application.exporter_user_notification_count.generatedcasedocument %}
                    <div class="lite-notification-bubble">
                        {{ application.exporter_user_notification_count.generatedcasedocument }}
                    </div>
                {% endif %}
            </a>
			<a href="{% url 'applications:application' application.id 'activity' %}" class="lite-tabs__tab {% if type == 'activity' %}lite-tabs__tab--selected{% endif %}" id="link-activity">
                {% lcs 'applications.ApplicationSummaryPage.Tabs.ACTIVITY' %}
            </a>
        </div>
    </div>

    {% if not type %}
		{% for key, value in answers.items %}
			<h2 class="govuk-heading-m">{{ key }}</h2>
			<div>
				{% if not value %}
					<p class="govuk-caption-m">You haven't added any information for this section.</p>
				{% elif value|classname == 'str' %}
					<dl class="govuk-summary-list">
						<div class="govuk-summary-list__row">
							<dd class="govuk-summary-list__value">
								{{ value }}
							</dd>
						</div>
					</dl>
				{% elif value|classname == 'dict' %}
					<dl class="govuk-summary-list">
						{% for key, value in value.items %}
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									{{ key }}
								</dt>
								<dd class="govuk-summary-list__value">
									{{ value|linebreaksbr }}
								</dd>
							</div>
						{% endfor %}
					</dl>
				{% elif value|classname == 'list' %}
					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								{% for key, value in value.0.items %}
									<th scope="col" class="govuk-table__header">{{ key }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							{% for item in value %}
								<tr class="govuk-table__row">
									{% for key, value in item.items %}
										<td class="govuk-table__cell">{{ value|linebreaksbr }}</td>
									{% endfor %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
			<hr class="app-check-your-answers-separator">
		{% endfor %}
    {% elif type == 'case-notes' %}
        {% include "applications/tabs/case-notes.html" %}
    {% elif type == 'ecju-queries' %}
        {% include "applications/tabs/ecju-queries.html" %}
    {% elif type == 'generated-documents' %}
          {% include "applications/tabs/generated-documents.html" %}
    {% elif type == 'activity' %}
		<!-- Activity -->
		{% include "applications/tabs/activity.html" %}
    {% endif %}


{% endblock %}

{% block javascript %}
	<script src="{% static 'javascripts/case-notes.js' %}"></script>
{% endblock %}
