{% extends 'layouts/base.html' %}

{% block back_link %}
	<a href="{% url 'applications:task_list' application.id %}" id="back-link" class="govuk-back-link">
        {% lcs 'applications.ApplicationNotesPage.BACK_LINK' %}
    </a>
{% endblock %}

{% block body %}
    <h1 class="govuk-heading-l">
        {% block title %}
            {% lcs 'applications.ApplicationNotesPage.TITLE' %}
        {% endblock %}
    </h1>
    <span class="govuk-hint govuk-!-margin-bottom-6">{% lcs 'applications.ApplicationNotesPage.DESCRIPTION' %}</span>

    {% include "includes/case-notes.html" %}
{% endblock %}
