{% extends 'layouts/base.html' %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' %}
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{% block title %}{% lcs "applications.ApplicationsList.TITLE" %}{% endblock %}</h1>
		</div>
		<div class="lite-app-bar__controls">
			{% if organisation.type.key == 'hmrc' %}
				<a href="{% url 'hmrc:raise_a_query' %}" class="govuk-button" draggable="false" role="button">
					{% lcs "applications.ApplicationsList.RAISE_A_QUERY_BUTTON" %}
				</a>
			{% else %}
				<a href="{% url 'apply_for_a_licence:start' %}" class="govuk-button" draggable="false" role="button">
					{% lcs "applications.ApplicationsList.APPLY_FOR_A_LICENCE_BUTTON" %}
				</a>
			{% endif %}
		</div>
	</div>

	<div class="lite-tabs__container">
		<div class="lite-tabs">
			<a href="{% url 'applications:applications' %}?submitted=True" class="lite-tabs__tab">
				{% lcs "applications.ApplicationsList.IN_PROGRESS_TAB" %}
			</a>
			<a href="{% url 'applications:applications' %}?submitted=False" class="lite-tabs__tab lite-tabs__tab--selected">
				{% lcs "applications.ApplicationsList.DRAFTS_TAB" %}
			</a>
		</div>
	</div>

	{% if applications.results %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header">
						{% lcs 'applications.ApplicationsSummaryPage.NAME' %}
					</th>
					<th class="govuk-table__header" scope="col">{% lcs "applications.ApplicationsSummaryPage.TYPE" %}</th>
					<th class="govuk-table__header">
						{% lcs "applications.ApplicationsSummaryPage.CREATED_AT" %}
					</th>
					{% if organisation.type.key != 'hmrc' %}
						<th class="govuk-table__header govuk-table__cell--nowrap">
							{% lcs "applications.ApplicationsSummaryPage.EXPORT_TYPE" %}
						</th>
					{% endif %}
					<th class="govuk-table__header">
					</th>
					{#	TODO: move to lite strings #}
					<th class="govuk-table__header" scope="col">COPY</th>
				</tr>
			</thead>
			<tbody class="govuk-table__head">
				{% for draft in applications.results %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:task_list' draft.id %}">
								{{ draft.name }}
							</a>
						</td>
						<td class="govuk-table__cell">
							{{ draft.application_type.value }}
						</td>
						<td class="govuk-table__cell govuk-table__cell--nowrap">
							{{ draft.updated_at|str_date }}
						</td>
						{% if organisation.type.key != 'hmrc' %}
							<td class="govuk-table__cell">
								{{ draft.export_type.value|default_na }}
							</td>
						{% endif %}
						<td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--nowrap">
							<a id="link-delete-draft" href="{% url 'applications:delete' draft.id %}?return_to={{ CURRENT_PATH }}" class="govuk-link--no-visited-state">
								{% lcs 'applications.DeleteApplicationPage.BUTTON' %}
							</a>
						</td>
						<td class="govuk-table__cell">
							<a class="govuk-link govuk-link--no-visited-state app-icon-label" href="{% url 'applications:copy' draft.id %}">Copy</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include "includes/pagination.html" with data=applications %}
	{% else %}
		{% include "includes/notice.html" with text="applications.ApplicationsList.NO_DRAFTS_CONTENT_NOTICE" %}
	{% endif %}
{% endblock %}
