{% extends 'layouts/two_pane.html' %}

{% load humanize svg %}

{% block back_link %}
	{% if application.status %}
    	<a href="{% url 'applications:applications' %}" class="govuk-back-link">Back to applications</a>
	{% endif %}
{% endblock %}

{% block full_width %}

	{% if application.status.key == "submitted" %}
		<div class="lite-info-bar lite-info-bar--no-animation">
			The changes you make to this application won't impact its processing time.
		</div>
	{% endif %}
	{% if not application.satus or application.status.key == "applicant_editing" %}
		<div class="lite-info-bar lite-info-bar--warning lite-info-bar--no-animation">
			This application won't be processed until it is submitted.
		</div>
	{% endif %}

{% endblock %}

{% block two_thirds %}

	{% if errors %}
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There are errors on this page
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					{% for key, value in errors.items %}
						<li>
							<a href="#{{ key }}">
								{{ value }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	<h2 class="govuk-heading-l">
		{% block title %}Application Overview{% endblock %}
	</h2>

	<!-- Application Info -->
	<dl class="govuk-summary-list govuk-summary-list--no-border">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Name
			</dt>
			<dd class="govuk-summary-list__value">
				{{ application.name }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Licence Type
			</dt>
			<dd class="govuk-summary-list__value">
				{{ application.licence_type.value }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Export Type
			</dt>
			<dd class="govuk-summary-list__value">
				{{ application.export_type.value }}
			</dd>
		</div>
		{% if application.reference_number_on_information_form %}
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Reference Number
			</dt>
			<dd class="govuk-summary-list__value">
				{{ application.reference_number_on_information_form }}
			</dd>
		</div>
		{% endif %}
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Created at
			</dt>
			<dd class="govuk-summary-list__value">
				{{ application.created_at|str_date }}
			</dd>
		</div>
	</dl>

	<!-- Tasks -->
    <ul class="lite-task-list__items">
        <!-- Goods -->
        <li class="lite-task-list__item">
			<div class="lite-task-list__item-header">
				{% if application.licence_type.key == 'open_licence' %}
					<a id="goods" href="{% url 'applications:open_goods' application.id %}" class="govuk-link govuk-link--no-visited-state">
						Describe your goods
					</a>
				{% else %}
					<a id="goods" href="{% url 'applications:goods' application.id %}" class="govuk-link govuk-link--no-visited-state">
						Add Goods
					</a>
				{% endif %}
				{% if goods|length or goodstypes|length %}
					<div class="lite-tag lite-tag--small lite-tag--blue">
						Done
					</div>
				{% else %}
					<div class="lite-tag lite-tag--small lite-tag--hollow">
						Not started
					</div>
				{% endif %}
            </div>
			<div class="lite-task-list__item-details">
				{% if errors|key_value:'goods' %}
					<p class="govuk-error-message">
						{{ errors|key_value:'goods' }}
					</p>
				{% endif %}
				{% if application.licence_type.key == 'standard_licence' and goods %}
					<table class="govuk-table">
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="row">Description</th>
								<th class="govuk-table__header" scope="row">Part Number</th>
								<th class="govuk-table__header" scope="row">Qty</th>
								<th class="govuk-table__header" scope="row">Unit</th>
								<th class="govuk-table__header" scope="row">Value Per Good</th>
								<th class="govuk-table__header" scope="row"></th>
							</tr>
							{% for good in goods %}
								<tr class="govuk-table__row" id="good-on-application-row-{{ good.id }}">
									<td class="govuk-table__cell" scope="row">{{ good.good.description }}</td>
									<td class="govuk-table__cell" scope="row">{{ good.good.part_number }}</td>
									<td class="govuk-table__cell" scope="row">{{ good.quantity }}</td>
									<td class="govuk-table__cell" scope="row">{{ good.unit.value }}</td>
									<td class="govuk-table__cell" scope="row">£{{ good.value }}</td>
									<td class="govuk-table__cell" scope="row"><a href="{% url 'applications:remove_preexisting_good' application.id good.id %}">Remove</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% elif application.licence_type.key == 'standard_licence' and not goods %}
					<p class="govuk-caption-m">Add goods to your application</p>
				{% endif %}

				{% if application.licence_type.key == 'open_licence' and goodstypes %}
					<table id="good_types_table_overview" class="govuk-table">
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="row">Description</th>
								<th class="govuk-table__header" scope="row">Control List Classification</th>
								<th class="govuk-table__header" scope="row"></th>
							</tr>
							{% for goodstype in goodstypes %}

								<tr class="govuk-table__row">
									<td class="govuk-table__cell" scope="row">{{ goodstype.description }}</td>
									{% if goodstype.control_code %}
										<td class="govuk-table__cell" scope="row">{{ goodstype.control_code }}</td>
									{% else %}
										<td  class="govuk-table__cell" scope="row">N/A</td>
									{% endif %}
									<td class="govuk-table__cell" scope="row"><a href="{% url 'applications:remove_goods_type' application.id goodstype.id %}">Remove</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% elif application.licence_type.key == 'open_licence' and not goodstypes %}
					<p class="govuk-caption-m">{% get_string 'good_types.overview.no_good_types' %}</p>
				{% endif %}
			</div>
        </li>

        <!-- Add products -->
        <li class="lite-task-list__item">
			<div class="lite-task-list__item-header">
				<a id="location" href="{% url 'applications:location' application.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
					Where are your goods now?
				</a>
				{% if sites or external_locations %}
					<div class="lite-tag lite-tag--small lite-tag--blue">
						Done
					</div>
				{% else %}
					<div class="lite-tag lite-tag--hollow lite-tag--small">
						Not started
					</div>
				{% endif %}
			</div>
			<div class="lite-task-list__item-details">
				{% if errors|key_value:'location' %}
					<p class="govuk-error-message">
						{{ errors|key_value:'location' }}
					</p>
				{% endif %}

				{% if sites %}
					<table class="govuk-table">
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="row">Site</th>
								<td class="govuk-table__header">Location</td>
							</tr>
							{% for site in sites %}
								<tr class="govuk-table__row">
									<td class="govuk-table__cell" scope="row">{{ site.name }}</td>
									<td class="govuk-table__cell">
										{{ site.address.address_line_1 }}<br/>
										{% if site.address.address_line_2 %}
											{{ site.address.address_line_2 }}<br/>
										{% endif %}
										{{ site.address.city }}<br/>
										{{ site.address.postcode }}<br/>
										{{ site.address.country.name }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% elif external_locations %}
					<table class="govuk-table">
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="row">Name</th>
								<td class="govuk-table__header">Location</td>
							</tr>
							{% for external_location in external_locations %}
								<tr class="govuk-table__row">
									<td class="govuk-table__cell" scope="row">{{ external_location.name }}</td>
									<td class="govuk-table__cell">{{ external_location.address|linebreaksbr }}<br>{{ external_location.country }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p class="govuk-caption-m">Set where your goods are located</p>
				{% endif %}
			</div>
		</li>

		<!-- Destination -->
		{% if application.licence_type.key == 'open_licence' %}
			<li class="lite-task-list__item">
				<div class="lite-task-list__item-header">
					<a id="countries" href="{% url 'applications:countries' application.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
						Where are your goods going?
					</a>
					{% if countries %}
					<div class="lite-tag lite-tag--small lite-tag--blue">
						Done
					</div>
					{% else %}
					<div class="lite-tag lite-tag--hollow lite-tag--small">
						Not started
					</div>
					{% endif %}
				</div>
				<div class="lite-task-list__item-details">
					{% if errors|key_value:'countries' %}
						<p class="govuk-error-message">
							{{ errors|key_value:'countries' }}
						</p>
					{% endif %}

					<p class="govuk-caption-m">Select all the countries that your goods are going to</p>

					<div class="display-none-inline_style">
						<div id="countries-data">
							{% for country in countries %}
							<p class="govuk-label">{{ country.name }}</p>
							{% endfor %}
						</div>
					</div>
			   </div>
			</li>
		{% endif %}

		<!-- Good/country mapping -->
		{% if application.licence_type.key == 'open_licence' and goodstypes and countries %}
			<li class="lite-task-list__item">
				<div class="lite-task-list__item-header">
					<a id="goods_country_assignments" href="{% url 'goods_type:goods_countries' application.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
	                    Explain where each good is going (optional)
	                </a>
					{% if countries_on_goods_types %}
		                <div class="lite-tag lite-tag--small lite-tag--blue">
		                    Done
		                </div>
		            {% else %}
		                <div class="lite-tag lite-tag--hollow lite-tag--small">
		                    Not started
		                </div>
		            {% endif %}
				</div>
				<div class="lite-task-list__item-details">
					<p class="govuk-caption-m">Select where your goods are going</p>
				</div>
			</li>
		{% endif %}

		<!-- End User -->
		{% if application.licence_type.key == 'standard_licence' %}
			<li class="lite-task-list__item">
				<div class="lite-task-list__item-header">
					<a id="end_users" href="{% url 'applications:end_user' application.id %}" class="govuk-link govuk-link--no-visited-state">
						End User
					</a>

					{% if application.end_user and end_user_document %}
						<div class="lite-tag lite-tag--small lite-tag--blue">
							Done
						</div>
			        {% elif application.end_user %}
			            <div class="lite-tag lite-tag--hollow lite-tag--small">
							Started
						</div>
					{% else %}
						<div class="lite-tag lite-tag--hollow lite-tag--small">
							Not started
						</div>
					{% endif %}
				</div>
				<div class="lite-task-list__item-details">
					{% if errors|key_value:'end_user' %}
						<p class="govuk-error-message">{{ errors|key_value:'end_user' }}</p>
				    {% elif errors|key_value:'end_user_document'%}
				        <p class="govuk-error-message">{{ errors|key_value:'end_user_document' }}</p>
					{% endif %}
					{% if application.end_user %}
						<table class="govuk-table">
							<tbody class="govuk-table__body">
								<tr class="govuk-table__row">
									<th class="govuk-table__header" scope="row">Type</th>
									<td class="govuk-table__cell">{{ application.end_user.sub_type.value|title }}</td>
									<td class="govuk-table__cell"><a href="{% url 'applications:remove_end_user' application.id %}">Remove</a></td>
								</tr>
								<tr class="govuk-table__row">
									<th class="govuk-table__header" scope="row">Name</th>
									<td class="govuk-table__cell">{{ application.end_user.name }}</td>
								</tr>
								{% if application.end_user.website %}
								<tr class="govuk-table__row">
									<th class="govuk-table__header" scope="row">Website</th>
									<td class="govuk-table__cell">{{ application.end_user.website }}</td>
								</tr>
								{% endif %}
								<tr class="govuk-table__row">
									<th class="govuk-table__header" scope="row">Address</th>
									<td class="govuk-table__cell">{{ application.end_user.address }}<br/>{{ application.end_user.country.name }}</td>
								</tr>
				                {% if end_user_document %}
				                    <tr class="govuk-table__row">
				                        <th class="govuk-table__header" scope="row">Document</th>
				                        <td class="govuk-table__cell" id="end_user_document_state">
				                            {%  if end_user_document.safe == True %}
				                                <a href="{% url 'applications:end_user_download_document' pk=application.id %}" id="end_user_document_download" class='govuk-link govuk-link--no-visited-state'>
				                                    {% get_string 'end_user.documents.download_document' %}
				                                </a>
				                                <br/>
				                                <a href="{% url 'applications:end_user_delete_document' pk=application.id %}" id="end_user_document_delete" class='govuk-link govuk-link--no-visited-state'>
				                                    {% get_string 'end_user.documents.delete_document' %}
				                                </a>
				                            {%  else %}
				                                {% get_string 'end_user.documents.processing' %}
				                            {% endif %}
				                        </td>
				                    </tr>
				                {% else %}
				                    <tr class="govuk-table__row">
				                        <th class="govuk-table__header" scope="row">Document</th>
				                        <td class="govuk-table__cell"><a id="end_user_attach_doc" href="{% url 'applications:end_user_attach_document' application.id %}" class='govuk-link govuk-link--no-visited-state'>Attach</a></td>
				                    </tr>
				                {% endif %}
							</tbody>
						</table>
					{% else %}
						<p class="govuk-caption-m">Add an end user to your application</p>
					{% endif %}
				</div>
			</li>
		{% endif %}

		<!-- Consignee -->
		{% if application.licence_type.key == 'standard_licence' %}
			<li class="lite-task-list__item">
				<div class="lite-task-list__item-header">
					<a id="consignees" href="{% url 'applications:consignee' application.id %}" class="govuk-link govuk-link--no-visited-state">
						Consignee
					</a>

					{% if application.consignee and consignee_document %}
						<div class="lite-tag lite-tag--small lite-tag--blue">
							Done
						</div>
			        {% elif application.consignee %}
			            <div class="lite-tag lite-tag--hollow lite-tag--small">
							Started
						</div>
					{% else %}
						<div class="lite-tag lite-tag--hollow lite-tag--small">
							Not started
						</div>
					{% endif %}
				</div>
				<div class="lite-task-list__item-details">
					{% if errors|key_value:'consignee' %}
						<p class="govuk-error-message">{{ errors|key_value:'consignee' }}</p>
				    {% elif errors|key_value:'consignee_document'%}
				        <p class="govuk-error-message">{{ errors|key_value:'consignee_document' }}</p>
					{% endif %}
					{% if application.consignee %}
						<table class="govuk-table">
							<tbody class="govuk-table__body">
								<tr class="govuk-table__row">
									<th class="govuk-table__header" scope="row">Type</th>
									<td class="govuk-table__cell">{{ application.consignee.sub_type.value|title }}</td>
								</tr>
								<tr class="govuk-table__row">
									<th class="govuk-table__header" scope="row">Name</th>
									<td class="govuk-table__cell">{{ application.consignee.name }}</td>
								</tr>
								{% if application.consignee.website %}
								<tr class="govuk-table__row">
									<th class="govuk-table__header" scope="row">Website</th>
									<td class="govuk-table__cell">{{ application.consignee.website }}</td>
								</tr>
								{% endif %}
								<tr class="govuk-table__row">
									<th class="govuk-table__header" scope="row">Address</th>
									<td class="govuk-table__cell">{{ application.consignee.address }}<br/>{{ application.consignee.country.name }}</td>
								</tr>
				                {% if consignee_document %}
				                        <tr class="govuk-table__row">
				                            <th class="govuk-table__header" scope="row">Document</th>
				                            <td class="govuk-table__cell" id="consignee_document_state">
				                                {%  if consignee_document.safe == True %}
				                                    <a href="{% url 'applications:consignee_download_document' pk=application.id %}" id="consignee_document_download" class='govuk-link govuk-link--no-visited-state'>
				                                        {% get_string 'end_user.documents.download_document' %}
				                                    </a>
				                                    <br/>
				                                    <a href="{% url 'applications:consignee_delete_document' pk=application.id %}" id="consignee_document_delete" class='govuk-link govuk-link--no-visited-state'>
				                                        {% get_string 'end_user.documents.delete_document' %}
				                                    </a>
				                                {%  else %}
				                                    {% get_string 'end_user.documents.processing' %}
				                                {% endif %}

				                            </td>
				                        </tr>
				                    {% else %}
				                        <tr class="govuk-table__row">
				                            <th class="govuk-table__header" scope="row">Document</th>
				                            <td class="govuk-table__cell"><a id="consignee_attach_doc" href="{% url 'applications:consignee_attach_document' application.id %}" class='govuk-link govuk-link--no-visited-state'>Attach</a></td>
				                        </tr>
				                    {% endif %}
							</tbody>
						</table>
					{% else %}
						<p class="govuk-caption-m">Add a consignee to your application</p>
					{% endif %}
				</div>
			</li>
		{% endif %}

		<!-- Ultimate End Users -->
		{% if application.licence_type.key == 'standard_licence' and ultimate_end_users_required %}
			<li class="lite-task-list__item">
				<div class="lite-task-list__item-header">
					<a id="ultimate_end_users" href="{% url 'applications:ultimate_end_users' application.id %}" class="govuk-link govuk-link--no-visited-state">
						Ultimate End Users
					</a>

					{% if ultimate_end_users and ultimate_end_users_documents_complete %}
						<div class="lite-tag lite-tag--small lite-tag--blue">
							Done
						</div>
			        {% elif ultimate_end_users %}
			            <div class="lite-tag lite-tag--hollow lite-tag--small">
							Started
						</div>
					{% else %}
						<div class="lite-tag lite-tag--hollow lite-tag--small">
							Not started
						</div>
					{% endif %}
				</div>
				<div class="lite-task-list__item-details">
					{% if errors|key_value:'ultimate_end_users' %}
						<p class="govuk-error-message">{{ errors|key_value:'ultimate_end_users' }}</p>
				    {% elif errors|key_value:'ultimate_end_user_documents'%}
				        <p class="govuk-error-message">{{ errors|key_value:'ultimate_end_user_documents' }}</p>
					{% endif %}
					{% if ultimate_end_users %}
						<table class="govuk-table">
							<thead class="govuk-table__head">
								<tr class="govuk-table__row">
									<th class="govuk-table__header" scope="col">Name</th>
				                    <th class="govuk-table__header" scope="col">Type</th>
				                    <th class="govuk-table__header" scope="col">Website</th>
									<th class="govuk-table__header" scope="col">Address</th>
									<th class="govuk-table__header" scope="col">Country</th>
								</tr>
							</thead>
							<tbody class="govuk-table__body">
								{% for ultimate_end_user in ultimate_end_users %}
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">{{ ultimate_end_user.name }}</td>
				                        <td class="govuk-table__cell">{{ ultimate_end_user.sub_type.value|title }}</td>
				                        <td class="govuk-table__cell">{{ ultimate_end_user.website }}</td>
										<td class="govuk-table__cell">{{ ultimate_end_user.address }}</td>
										<td class="govuk-table__cell">{{ ultimate_end_user.country.name }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<p class="govuk-caption-m">Add ultimate end users to your application</p>
					{% endif %}
				</div>
			</li>
		{% endif %}

		<!-- Third Parties -->
		{% if application.licence_type.key == 'standard_licence' %}
			<li class="lite-task-list__item">
				<div class="lite-task-list__item-header">
						<a id="third_parties" href="{% url 'applications:third_parties' application.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
							Third Parties (optional)
						</a>
			        {% if third_parties %}
			            <div class="lite-tag lite-tag--small lite-tag--blue">
							Done
						</div>
					{% else %}
						<div class="lite-tag lite-tag--hollow lite-tag--small">
							Not started
						</div>
					{% endif %}
				</div>
				<div class="lite-task-list__item-details">
					{% if errors|key_value:'third_parties' %}
						<p class="govuk-error-message">{{ errors|key_value:'third_parties' }}</p>
				    {% elif errors|key_value:'third_parties_documents'%}
				        <p class="govuk-error-message">{{ errors|key_value:'third_parties_documents' }}</p>
					{% endif %}
					{% if third_parties %}
						<table class="govuk-table">
							<thead class="govuk-table__head">
								<tr class="govuk-table__row">
									<th class="govuk-table__header" scope="col">Name</th>
				                    <th class="govuk-table__header" scope="col">Type</th>
				                    <th class="govuk-table__header" scope="col">Website</th>
									<th class="govuk-table__header" scope="col">Address</th>
									<th class="govuk-table__header" scope="col">Country</th>
								</tr>
							</thead>
							<tbody class="govuk-table__body">
								{% for third_party in third_parties %}
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">{{ third_party.name }}</td>
				                        <td class="govuk-table__cell">{{ third_party.sub_type.value|title }}</td>
				                        <td class="govuk-table__cell">{{ third_party.website }}</td>
										<td class="govuk-table__cell">{{ third_party.address }}</td>
										<td class="govuk-table__cell">{{ third_party.country.name }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<p class="govuk-caption-m">Add third parties to your application</p>
					{% endif %}
				</div>
			</li>
		{% endif %}

		<!-- Additional Documents -->
		<li class="lite-task-list__item">
			<div class="lite-task-list__item-header">
				<a id="third_parties" href="{% url 'applications:additional_documents' application.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
					Additional Documents (optional)
				</a>
				{% if additional_documents %}
					<div class="lite-tag lite-tag--small lite-tag--blue">
						Done
					</div>
				{% else %}
					<div class="lite-tag lite-tag--hollow lite-tag--small">
						Not started
					</div>
				{% endif %}
			</div>
			<div class="lite-task-list__item-details">
				{% if errors|key_value:'additional_documents' %}
					<p class="govuk-error-message">{{ errors|key_value:'additional_documents' }}</p>
				{% endif %}
				{% if additional_documents %}
					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th class="govuk-table__header" scope="col">Name</th>
								<th class="govuk-table__header" scope="col">Description</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							{% for additional_document in additional_documents %}
								<tr class="govuk-table__row">
									<td class="govuk-table__cell">{{ additional_document.name }}</td>
									<td class="govuk-table__cell">{{ additional_document.description }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p class="govuk-caption-m">Add additional documents to your application</p>
				{% endif %}
			</div>
		</li>
    </ul>

	<div class="app-submit-bar">
		<form method="post">
			{% csrf_token %}
			{% if not application.status.key == 'draft' or application.status.key == 'applicant_editing' %}
				<button type="submit" class="govuk-button" data-prevent-double-click="true" style="margin-bottom: 0;">Submit application</button>
			{% elif application.status == 'submitted' %}
				<a href="{% url 'applications:application' application.id %}" class="govuk-button" draggable="false" role="button">Done</a>
			{% endif %}
		</form>
		{% if not application.status %}
			<div class="lite-vertical-align">
				<a href="{% url 'applications:delete' application.id %}" class="govuk-link lite-link--warning">
					{% svg 'close' %}
					Delete draft
				</a>
			</div>
		{% endif %}
	</div>

{% endblock %}
