{% extends 'layouts/two-pane.html' %}

{% block back_link %}{% endblock %}

{% block two_thirds %}
	<h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
		{% block title %}
			Raise a query for {{ application.organisation.name }}
		{% endblock %}
	</h1>

	<ol class="lite-task-list">
		<li>
			<h2 class="lite-task-list__section">
				<span class="lite-task-list__section-number">1. </span> Query details
			</h2>
			<ul class="lite-task-list__items">
				{% url 'applications:goods_types' application.id as goods_url %}
				{% include "includes/task-list-item.html" with id="goods" title=strings.GOODS url=goods_url status=application.goods_types|task_list_item_status %}

				{% url 'applications:location' application.id as goods_location_url %}
				{% include "includes/task-list-item.html" with id="goods-location" title=strings.GOODS_LOCATION url=goods_location_url status=locations|task_list_item_status %}

				{% url 'applications:end_user' application.id as end_user_url %}
				{% include "includes/task-list-item.html" with id="end-user" title=strings.END_USER url=end_user_url status=application.end_user|get_parties_status %}

				{% url 'applications:ultimate_end_users' application.id as ultimate_end_user_url %}
				{% include "includes/task-list-item.html" with title=strings.ULTIMATE_END_USERS url=ultimate_end_user_url status=application.ultimate_end_users|get_parties_status optional=True %}

				{% url 'applications:third_parties' application.id as third_parties_url %}
				{% include "includes/task-list-item.html" with title=strings.THIRD_PARTIES url=third_parties_url status=application.third_parties|task_list_item_status optional=True %}

				{% url 'applications:consignee' application.id as consignee_url %}
				{% include "includes/task-list-item.html" with title=strings.CONSIGNEE url=consignee_url status=application.consignee|get_parties_status optional=True %}

				{% url 'applications:additional_documents' application.id as supporting_documentation_url %}
				{% include "includes/task-list-item.html" with title=strings.SUPPORTING_DOCUMENTS url=supporting_documentation_url status=application.supporting_documentation|task_list_item_status optional=True %}

				{% url 'applications:optional_note' application.id as optional_note_url %}
				{% include "includes/task-list-item.html" with id="reasoning" title=strings.REASON_FOR_QUERY url=optional_note_url status=application.reasoning|task_list_item_status optional=True %}
			</ul>
		</li>
	</ol>

	<ol class="lite-task-list">
		<li>
			<h2 class="lite-task-list__section">
				<span class="lite-task-list__section-number">2. </span> Check your answers
			</h2>
			<ul class="lite-task-list__items">
				{% if show_submit_button %}
					{% url 'applications:check_your_answers' application.id as check_your_answers_url %}
					{% include "includes/task-list-item.html" with title="applications.HMRCApplicationTaskList.CHECK_YOUR_ANSWERS" url=check_your_answers_url hide_tag=True %}
				{% else %}
					<li class="lite-task-list__item">
						<div class="lite-task-list__item-header">
							{% lcs 'applications.HMRCApplicationTaskList.CHECK_YOUR_ANSWERS' %}
						</div>
					</li>
				{% endif %}
			</ul>
		</li>
		<li>
			<form method="post">
				{% csrf_token %}
				<button type="submit" value="submit" class="govuk-button">Submit</button>
			</form>
		</li>
	</ol>
{% endblock %}
