{% extends 'layouts/full_width.html' %}

{% load humanize %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' %}
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{{ title }}</h1>
		</div>
		<div class="lite-app-bar__controls">
			<a href="." class="govuk-button govuk-button--secondary" draggable="false" role="button">
				{% get_string 'licences.refresh' %}
			</a>
			<a href="{% url 'apply_for_a_licence:start' %}" class="govuk-button" draggable="false" role="button">
				{% get_string 'licences.apply_for_a_licence' %}
			</a>
		</div>
	</div>

	{% if applications|length %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">
						Reference
					</th>
					<th class="govuk-table__header" scope="col">Last updated</th>
					<th class="govuk-table__header" scope="col">Status</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for application in applications %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a class="govuk-link govuk-link--no-visited-state app-icon-label"
							    {% if application.status == 'applicant_editing' %}
									href="{% url 'applications:application-edit-overview' application.id %}">
								{% else %}
									href="{% url 'applications:application' application.id %}">
								{% endif %}
								<p>{{ application.name }}</p>
								{% if application.id in notifications %}
									<span class="app-icon-label__notification">{{ notifications|key_value:application.id }} <span class="govuk-visually-hidden"> notifications</span></span>
								{% endif %}
							</a>
						</td>
						<td class="govuk-table__cell">
							{{ application.last_modified_at|str_date }}
						</td>
						<td class="govuk-table__cell">{{ application.status|title }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-l">{% get_string 'applications.no_applications' %}</p>
	{% endif %}

{% endblock %}
