{% extends 'layouts/full_width.html' %}

{% load humanize %}

{% block body %}

	<a href="#" class="govuk-back-link">Back</a>

	<h1 class="govuk-heading-l">Applications</h1>

	<!--<a href="/new-application" class="govuk-link">New Application</a>
	<a href="/applications/dfd4fb4d-5340-48b7-8ef4-58ec0fbd7759#" class="govuk-link">Example Application</a>-->

	{% if applications %}
		<table class="lite-table">
			<thead class="lite-table__head">
				<tr class="lite-table__row">
					<th class="lite-table__header" scope="col">Reference</th>
					<th class="lite-table__header" scope="col">Last Updated</th>
					<th class="lite-table__header" scope="col">Control Code</th>
					<th class="lite-table__header" scope="col">Destination</th>
					<th class="lite-table__header" scope="col">Activity</th>
					<th class="lite-table__header" scope="col">Usage</th>
				</tr>
			</thead>
			<tbody class="lite-table__body">
				{% for application in applications %}
					<tr class="lite-table__row">
						<td class="lite-table__cell">
							<a class="govuk-link" href="/applications/{{ application.id }}">Application for ML1a</a>
						</td>
						<td class="lite-table__cell">
							<a class="hoverable-link tooltip">
								<span class="tooltip-content" style="min-width: 150px;">
									{{ application.last_modified_at }}
								</span>
								{{ application.last_modified_at|naturaltime }}
							</a>
						</td>
						<td class="lite-table__cell">
							<a class="hoverable-link tooltip">
								<span class="tooltip-content" style="min-width: 300px;">
									<b>ML1a</b>
									<br/>
									Smooth-bore weapons with a calibre of less than 20mm, other firearms and automatic weapons with a calibre of 12.7mm or less, and accessories and specially designed components
								</span>
								{{ application.control_code }}
							</a>
						</td>
						<td class="lite-table__cell">{{ application.destination }}</td>
						<td class="lite-table__cell">{{ application.activity }}</td>
						<td class="lite-table__cell">{{ application.usage }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-m">You don't have any applications at the moment.</p>
	{% endif %}

{% endblock %}
