{% extends 'layouts/two-pane.html' %}

{% load svg %}

{% block back_link %}
	{% if application.status %}
    	<a href="{% url 'applications:applications' %}" id="back-link" class="govuk-back-link">{% lcs 'applications.EditOpenApplicationPage.BACK_TO_APPLICATIONS' %}</a>
	{% endif %}
{% endblock %}

{% block full_width %}
	{% if application.status.key == "submitted" %}
		<div class="lite-info-bar lite-info-bar--no-animation">
			Changes made to this application won't impact its processing time.
		</div>
	{% endif %}
	{% if application.status.key == "applicant_editing" %}
		<div class="lite-info-bar lite-info-bar--warning lite-info-bar--no-animation">
			This application won't be processed until it's submitted.
		</div>
	{% endif %}
{% endblock %}

{% block two_thirds %}
	{% if errors %}
		<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
			<h2 class="govuk-error-summary__title" id="error-summary-title">
				There is a problem
			</h2>
			<div class="govuk-error-summary__body">
				<ul class="govuk-list govuk-error-summary__list">
					{% for key, value in errors.items %}
						<li>
							<a href="#{{ key }}">
								{{ value }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	<h1 class="govuk-heading-l govuk-!-margin-bottom-2">
		{% block title %}
			{% if edit_type %}
				Edit the application
			{% else %}
				Apply for an open export licence
			{% endif %}
		{% endblock %}
	</h1>

	<!-- Details that can't be edited -->
	<p class="govuk-hint govuk-!-margin-bottom-9">
		{% if edit_type %}Licence type: {{ application.application_type.value }} - {% endif %}
		Export type: {{ application.export_type.value }}
	</p>

	<!-- Initial -->
	<ol class="lite-task-list">
		<li>
			<h2 class="lite-task-list__section">
				{% if edit_type %}
					Basic details
				{% else %}
					<span class="lite-task-list__section-number">1. </span> Prepare application
				{% endif %}
			</h2>
			<ul class="lite-task-list__items {% if edit_type %}govuk-!-padding-0{% endif %}">
				{% lcs 'applications.TaskListPage.ENTER_A_REFERENCE_NAME_SHORT_TITLE' as reference_name_title %}
				{% url 'applications:edit_reference_name' application.id as reference_name_url %}
				{% include "includes/task-list-item.html" with title=reference_name_title url=reference_name_url status='done' description=application.name %}
			</ul>
		</li>
	</ol>

	<!-- Tasks -->
	<ol class="lite-task-list">
		<li>
			<h2 class="lite-task-list__section">
				{% if edit_type %}
					More information
				{% else %}
					<span class="lite-task-list__section-number">2. </span> Complete application
				{% endif %}
			</h2>
		    <ul class="lite-task-list__items {% if edit_type %}govuk-!-padding-0{% endif %}">
		        <!-- Goods -->
		        <li class="lite-task-list__item">
					<div class="lite-task-list__item-header">
                        <a id="open-goods" href="{% url 'applications:goods_types' application.id %}" class="govuk-link govuk-link--no-visited-state">
                            Products
                        </a>
						{% if goods|length or goodstypes|length %}
							<div class="lite-tag lite-tag--blue">
								Completed
							</div>
						{% else %}
							<div class="lite-tag lite-tag--hollow">
								Not started
							</div>
						{% endif %}
		            </div>
					<div class="lite-task-list__item-details">
						{% if goodstypes %}
							<table id="good_types_table_overview" class="govuk-table">
								<tbody class="govuk-table__body">
									<tr class="govuk-table__row">
										<th class="govuk-table__header" scope="row">Description</th>
										<th class="govuk-table__header" scope="row">Control list classification</th>
										<th class="govuk-table__header" scope="row"></th>
									</tr>
									{% for goodstype in goodstypes %}
										<tr class="govuk-table__row">
											<td class="govuk-table__cell" scope="row">{{ goodstype.description }}</td>
											{% if goodstype.control_code %}
												<td class="govuk-table__cell" scope="row">{{ goodstype.control_code }}</td>
											{% else %}
												<td  class="govuk-table__cell" scope="row">N/A</td>
											{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% endif %}
					</div>
		        </li>

		        <!-- Add products -->
		        <li class="lite-task-list__item">
					<div class="lite-task-list__item-header">
						<a id="location" href="{% url 'applications:location' application.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
							Locations
						</a>
						{% if sites.sites or external_locations %}
							<div class="lite-tag lite-tag--blue">
								Completed
							</div>
						{% else %}
							<div class="lite-tag lite-tag--hollow">
								Not started
							</div>
						{% endif %}
					</div>
					<div class="lite-task-list__item-details">
						{% if sites.sites %}
							<table class="govuk-table">
								<tbody class="govuk-table__body">
									<tr class="govuk-table__row">
										<th class="govuk-table__header" scope="row">Site</th>
										<td class="govuk-table__header">Location</td>
									</tr>
									{% for site in sites.sites %}
										<tr class="govuk-table__row">
											<td class="govuk-table__cell" scope="row">{{ site.name }}</td>
											<td class="govuk-table__cell">
												{{ site.address.address_line_1 }}<br/>
												{% if site.address.address_line_2 %}
													{{ site.address.address_line_2 }}<br/>
												{% endif %}
												{{ site.address.city }}<br/>
												{{ site.address.postcode }}<br/>
												{{ site.address.country.name }}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% elif external_locations %}
							<table class="govuk-table">
								<tbody class="govuk-table__body">
									<tr class="govuk-table__row">
										<th class="govuk-table__header" scope="row">Name</th>
										<td class="govuk-table__header">Location</td>
									</tr>
									{% for external_location in external_locations %}
										<tr class="govuk-table__row">
											<td class="govuk-table__cell" scope="row">{{ external_location.name }}</td>
											<td class="govuk-table__cell">{{ external_location.address|linebreaksbr }}<br>{{ external_location.country.name }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% endif %}
					</div>
				</li>

				<!-- Destination -->
				{% lcs 'applications.TaskListPage.WHERE_ARE_YOUR_GOODS_GOING_SHORT_TITLE' as countries_title %}
				{% url 'applications:countries' application.id as countries_url %}
				{% tld countries 'country' 'countries' as countries_description %}
				{% include "includes/task-list-item.html" with title=countries_title url=countries_url status=countries|task_list_item_status description=countries_description %}

				<!-- Good/country mapping -->
				{% if goodstypes and countries and edit_type != "minor_edit" %}
					<li class="lite-task-list__item">
						<div class="lite-task-list__item-header">
							<a id="goods_country_assignments" href="{% url 'applications:goods_countries' application.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
								Countries each product is going to
							</a>
							<div class="lite-tag lite-tag--hollow">
								{% lcs 'OPTIONAL' %}
							</div>
						</div>
					</li>
				{% endif %}

				<!-- Additional Documents -->
				<li class="lite-task-list__item">
					<div class="lite-task-list__item-header">
						<a id="third_parties" href="{% url 'applications:additional_documents' application.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
							Supporting documents
						</a>
						{% if additional_documents %}
							<div class="lite-tag lite-tag--blue">
								Completed
							</div>
						{% else %}
							<div class="lite-tag lite-tag--hollow">
								{% lcs 'OPTIONAL' %}
							</div>
						{% endif %}
					</div>
					<div class="lite-task-list__item-details">
						{% if additional_documents %}
							<table class="govuk-table">
								<thead class="govuk-table__head">
									<tr class="govuk-table__row">
										<th class="govuk-table__header" scope="col">Name</th>
										<th class="govuk-table__header" scope="col"></th>
									</tr>
								</thead>
								<tbody class="govuk-table__body">
									{% for additional_document in additional_documents %}
										<tr class="govuk-table__row">
											<td class="govuk-table__cell">{{ additional_document.name }}</td>
											<td class="govuk-table__cell govuk-table__cell--numeric">
												{% if additional_document.safe == True %}
													<a href="{% url 'applications:download_additional_document' application.id additional_document.id %}" id="document_download" class='govuk-link govuk-link--no-visited-state'>
														Download
													</a>
												{% else %}
													Processing
												{% endif %}
											</td>
											<td class="govuk-table__cell govuk-table__cell--numeric">
												{% if additional_document.safe == True %}
													<a href="{% url 'applications:delete_additional_document' application.id additional_document.id %}" id="document_delete" class='govuk-link govuk-link--no-visited-state lite-link--icon'>
														{% svg 'close' %}
														Delete
													</a>
												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% endif %}
					</div>
				</li>

				<br><br>

				<li>
					<div class="app-submit-bar">
						<form method="post">
							{% csrf_token %}
							{% if application.status.key in 'applicant_editing,draft' %}
								<button type="submit" value="submit" class="govuk-button" data-prevent-double-click="true">{% lcs 'applications.EditOpenApplicationPage.SUBMIT' %}</button>
							{% else %}
								<a href="{% url 'applications:application' application.id %}" class="govuk-button" draggable="false" role="button">Done</a>
							{% endif %}
						</form>
                        {% if application.status.key == 'draft' %}
							<div class="lite-vertical-align">
								<a id="link-delete-draft" href="{% url 'applications:delete' application.id %}?return_to={{ CURRENT_PATH }}" class="govuk-link lite-link--icon">
									{% svg 'close' %}
									{% lcs 'applications.EditOpenApplicationPage.DRAFT_DELETE_LINK' %}
								</a>
							</div>
						{% endif %}
					</div>
				</li>
			</ul>
		</li>
	</ol>
{% endblock %}
