{% extends 'layouts/two_pane.html' %}

{% block back_link %}
	<a href="{% url 'applications:task_list' application.id %}" id="back-link" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block two_thirds %}

	<h1 class="govuk-heading-xl">
		{% block title %}
			Check your answers
		{% endblock %}
	</h1>

	<div class="govuk-warning-text">
		<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
		<strong class="govuk-warning-text__text">
			<span class="govuk-warning-text__assistive">Warning</span>
			You can be fined up to £XXXX if you intentionally use false or misleading information on your application form.
		</strong>
	</div>

	<div class="govuk-checkboxes govuk-!-margin-bottom-6">
		<div class="govuk-checkboxes__item">
			<input class="govuk-checkboxes__input" id="declaration" name="declaration" type="checkbox" value="The information I have given on this application is correct">
			<label class="govuk-label govuk-checkboxes__label" for="declaration">The information I have given on this application is correct</label>
		</div>
	</div>
    {% if can_submit %}
	    <a href="confirmation.html" class="govuk-button">{% lcs "SUBMIT_APPLICATION" %}</a>
    {% endif %}

{% endblock %}
