{% extends 'layouts/task-list.html' %}

{% block title %}
	{% if edit_type %}
		{% lcs 'applications.OpenApplicationTaskList.EDIT_TITLE' %}
	{% else %}
		{% lcs 'applications.OpenApplicationTaskList.NEW_TITLE' %}
	{% endif %}
{% endblock %}

{% block subtitle %}
	{% if edit_type %}Licence type: {{ application.application_type.value }} - {% endif %}
	Export type: {{ application.export_type.value }}
{% endblock %}

{% block main_tasks %}
	{% url 'applications:goods_types' application.id as goods_url %}
	{% tld goodstypes 'product' 'products' as goods_description %}
	{% include "includes/task-list-item.html" with id='products' title='applications.OpenApplicationTaskList.GOODS' url=goods_url status=goodstypes|task_list_item_status description=goods_description %}

	{% url 'applications:location' application.id as goods_url %}
	{% tld locations 'location' 'locations' as location_description %}
	{% include "includes/task-list-item.html" with id='locations' title='applications.OpenApplicationTaskList.GOODS_LOCATION' url=goods_url status=locations|task_list_item_status description=location_description %}

	{% url 'applications:countries' application.id as countries_url %}
	{% tld countries 'country' 'countries' as countries_description %}
	{% include "includes/task-list-item.html" with id="countries" title='applications.OpenApplicationTaskList.GOODS_DESTINATION' url=countries_url status=countries|task_list_item_status description=countries_description %}

	{% if goodstypes and countries and edit_type != "minor_edit" %}
		{% url 'applications:countries' application.id as countries_matrix_url %}
		{% include "includes/task-list-item.html" with id="countries-matrix" title='applications.OpenApplicationTaskList.COUNTRIES_WHERE_EACH_GOOD_IS_GOING' url=countries_matrix_url %}
	{% endif %}

	{% url 'applications:additional_documents' application.id as supporting_documents_url %}
	{% tld supporting_documents 'document' 'documents' as supporting_documents_description %}
	{% include "includes/task-list-item.html" with id="supporting-documents" title='applications.OpenApplicationTaskList.SUPPORTING_DOCUMENTS' url=supporting_documents_url status=supporting_documents|task_list_item_status description=supporting_documents_description %}
{% endblock %}
