{% extends 'layouts/task-list.html' %}

{% block title %}
	{% if is_editing %}
		Edit the application
	{% else %}
		Apply for a standard export licence
	{% endif %}
{% endblock %}

{% block subtitle %}
	{% if is_editing %}Licence type: {{ application.application_type.value }} - {% endif %}
	Export type: {{ application.export_type.value }}
{% endblock %}

{% block initial_tasks %}
	{% url 'applications:edit_told_by_an_official' application.id as told_by_an_official_url %}
	{% include "includes/task-list-item.html" with id="told-by-an-official" title="End use control" url=told_by_an_official_url status="done" description=reference_number_description %}
{% endblock %}

{% block main_tasks %}
	{% url 'applications:goods' application.id as goods_url %}
	{% tld goods 'product' 'products' as goods_description %}
	{% include "includes/task-list-item.html" with id='products' title='goods.GoodsList.TITLE' url=goods_url status=goods|task_list_item_status description=goods_description %}

	{% include "applications/includes/application-goods-task-list.html" %}
	{% include "applications/includes/application-end-user-task-list.html" %}
	{% include "applications/includes/application-consignee-task-list.html" %}
	{% include "applications/includes/application-ultimate-end-users-task-list.html" %}
	{% include "applications/includes/application-third-parties-task-list.html" %}
	{% include "applications/includes/application-additional-documents-task-list.html" %}
{% endblock %}
