{% extends 'layouts/task-list.html' %}

{% block title %}
	{% if is_editing %}
		Edit the application
	{% else %}
		Apply for a standard export licence
	{% endif %}
{% endblock %}

{% block subtitle %}
	{% if is_editing %}Licence type: {{ application.application_type.value }} - {% endif %}
	Export type: {{ application.export_type.value }}
{% endblock %}

{% block initial_tasks %}
	{% url 'applications:edit_told_by_an_official' application.id as told_by_an_official_url %}
	{% include "includes/task-list-item.html" with id="told-by-an-official" title="End use control" url=told_by_an_official_url status="done" description=reference_number_description %}
{% endblock %}

{% block main_tasks %}
	{% url 'applications:goods' application.id as goods_url %}
	{% tld goods 'product' 'products' as goods_description %}
	{% include "includes/task-list-item.html" with id='products' title='goods.GoodsList.TITLE' url=goods_url status=goods|task_list_item_status description=goods_description %}

	{% include "includes/goods-task-section.html" %}
	{% include "includes/parties-task-section.html" with title="End user" data=application.end_user document=end_user_document multiple=False section_url="applications:end_user" delete_url="applications:remove_end_user" download_url="applications:end_user_download_document"  delete_document_url="applications:end_user_delete_document" attach_url="applications:end_user_attach_document" %}
	{% include "includes/parties-task-section.html" with title="Consignee" data=application.consignee document=consignee_document multiple=False section_url="applications:consignee" delete_url="applications:remove_consignee" download_url="applications:consignee_download_document"  delete_document_url="applications:consignee_delete_document" attach_url="applications:consignee_attach_document" %}
	{% if ultimate_end_users_required %}
		{% include "includes/parties-task-section.html" with title="Ultimate Recipients" data=ultimate_end_users multiple=True section_url="applications:ultimate_end_users"%}
	{% endif %}
	{% include "includes/parties-task-section.html" with title="Third Parties" data=third_parties multiple=True section_url="applications:third_parties"%}
	{% include "includes/additional-documents-task-section.html" %}
{% endblock %}
