{% extends 'layouts/base.html' %}

{% block back_link %}
	<div class="govuk-breadcrumbs">
		<ol class="govuk-breadcrumbs__list">
			<li class="govuk-breadcrumbs__list-item">
				<a class="govuk-breadcrumbs__link" href="#">Home</a>
			</li>
			<li class="govuk-breadcrumbs__list-item">
				Exporter hub
			</li>
		</ol>
	</div>
{% endblock %}

{% block body %}
    {% if applicationDeleted == "true" %}
		<div class="information information-animated">
			{% get_string 'drafts.deleted' %}
		</div>
	{% endif %}

	<h1 class="govuk-heading-xl">
        {{ organisation.name }}
    </h1>

    {% if user_data.organisations|length > 1 %}
        <div style="margin-top: -40px; margin-bottom: 50px;">
            <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" style="text-decoration: none;" href="{% url 'core:pick_organisation' %}">Switch</a>
        </div>
    {% endif %}

	{% for section in sections %}
		<section class="lite-hub-section">
			<h3 class="govuk-heading-m">{{ section.title }}</h3>
			<span class="govuk-caption-m">{{ section.description }}</span>
			<div class="lite-tiles">
				{% for tile in section.tiles %}
					<a href="{{ tile.url }}" class="lite-tile" role="button" draggable="false">
						<h4>{{ tile.title }}</h4>
						<p>{{ tile.description }}</p>
					</a>
				{% endfor %}
			</div>
		</section>
	{% endfor %}
{% endblock %}
