{% if generated_documents %}
    {% for generated_document in generated_documents %}
        <div class="app-ecju-query">
            <div class="app-ecju-query__item">
                <p class="app-ecju-query__heading">{{ generated_document.name }}</p>
                <p class="app-ecju-query__date">
                    <span class="govuk-visually-hidden">{% lcs 'goods.GoodPage.ECJUDocuments.CREATED_AT' %}</span>{{ generated_document.created_at|str_date }}
                </p>
            </div>
        </div>
        <hr class="lite-horizontal-separator">
    {% endfor %}
{% endif %}
