{% extends 'layouts/base.html' %}

{% block back_link %}
	<a href="{% url 'applications:task_list' draft_id %}" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h2 class="govuk-heading-l">{% get_string 'goods.location_lists.title' %}</h2>
		</div>
		<div class="lite-app-bar__controls">
			{% if org_external_locations.external_locations %}
				<a href="{% url 'applications:add_preexisting_external_location' draft_id %}" class="govuk-button govuk-button--secondary">
					{% get_string 'goods.location_lists.find_address_button' %}
				</a>
			{% endif %}
			<a href="{% url 'applications:add_external_location' draft_id %}" class="govuk-button">
				{% get_string 'goods.location_lists.add_address_button' %}
			</a>
		</div>
	</div>

	{% if data.external_locations|length %}
		{% for external_location in data.external_locations %}
			<div class="lite-card">
				<h4 class="govuk-heading-s" style="margin-bottom: 0;">{{ external_location.name }}</h4>
				<p class="govuk-label">{{ external_location.address|linebreaksbr }}<br>{{ external_location.country }}</p>
                {% if not draft.status.value or draft.status.key == 'applicant_editing' or data.external_locations|length > 1 %}
                    <a class="lite-link--icon" href="{% url 'applications:remove_external_location' draft_id external_location.id %}">
                        Remove
                    </a>
                {% endif %}
			</div>
		{% endfor %}
	{% else %}
		<p class="govuk-caption-l" style="margin: 0;">You haven't added any locations to this application.</p>
	{% endif %}

{% endblock %}
