{% extends 'layouts/base.html' %}

{% load svg %}

{% block back_link %}
	<a href="{% url 'goods:good_detail' good.id "case-notes" %}" id="back-link" class="govuk-back-link">Back to good overview</a>
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{% block title %}{{ title }}{% endblock %}</h1>
			<dl class="govuk-summary-list" id="good-details">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Name
					</dt>
					<dd class="govuk-summary-list__value">
						{{ name }}
					</dd>
				</div>
			</dl>
		</div>
	</div>

	<div class="buttons-row">
	<form method="post" action="{% url 'goods:delete_document' good.id document.id %}">
		{% csrf_token %}
		<button type="submit" class="govuk-button govuk-button--warning govuk-!-margin-right-2">Delete document</button>
	</form>
</div>
{% endblock %}
