<!-- for the future story, currently not in use, don't remove -->
<p class="govuk-caption-m">You won't be able to recover the document once it's deleted.</p>
<div class="buttons-row">
    <form method="post" action="{% url 'goods:delete_document' good.id document.id %}">
        {% csrf_token %}
        <button type="submit" class="govuk-button govuk-button--warning govuk-!-margin-right-2">Delete document</button>
    </form>
    <a href="{% url 'goods:good' good.id %}" onclick="return LITECommon.Modal.closeAllModals()" role="button" draggable="false" class="govuk-button govuk-button--secondary">Cancel</a>
</div>
