{% extends 'layouts/base.html' %}

{% load svg static %}

{% block back_link %}
	<a href="{% url 'goods:goods' %}" id="back-link" class="govuk-back-link">Back to products</a>
{% endblock %}

{% block body %}

	{% if good.status.key == 'verified' %}
		<div class="lite-info-bar lite-info-bar--no-animation app-info-bar--verified">
			{% svg 'verified' %}
			This product has been verified by ECJU based on the information provided
		</div>
	{% endif %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<div class="lite-app-bar">
				<div class="lite-app-bar__content">
					<h2 class="govuk-heading-l">
						{% block title %}
							Product
						{% endblock %}
					</h2>
				</div>
				{% if good.status.key == 'draft' %}
					<div class="lite-app-bar__controls">
						<a href="{% url 'goods:edit' good.id %}" id="edit-{{ good.id }}" class="govuk-button govuk-button--secondary" style="margin: 0;">Edit product</a>
					</div>
				{% endif %}
			</div>

			<!-- Notify the user if their good has a special status -->
			{% if good.status.key == 'clc_query' %}
				<div class="govuk-inset-text">
					Your product is currently being reviewed by ECJU. It has limited functionality until the review is complete.
				</div>
				<br>
			{% endif %}

			{% if good.query_id %}
				<h3 class="govuk-heading-m">Your query</h3>
				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Reference
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.query_id|reference_code }}
						</dd>
					</div>
				</dl>

				<br><br>

				<h3 class="govuk-heading-m">Product</h3>
			{% endif %}

			{% if good.status.key == 'submitted' %}
				<div class="govuk-inset-text">
					Your product has been used in an application and can therefore no longer be changed.
				</div>
				<br>
			{% endif %}

			{% if good.status.key == 'draft' %}
				<div class="govuk-inset-text">
					If you're unsure the product is controlled or not, you can <a href="{% url 'goods:raise_clc_query' good.id %}" class="govuk-link govuk-link--no-visited-state">raise a control list classification (CLC) query</a>.
				</div>
				<br>
			{% endif %}

			<!-- Summary -->
			<dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Description
					</dt>
					<dd class="govuk-summary-list__value">
						{{ good.description }}
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Is the product on the control list?
					</dt>
					<dd class="govuk-summary-list__value">
						{{ good.is_good_controlled|title }}
					</dd>
				</div>
				{% if good.control_code %}
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							Control list classification
						</dt>
						<dd class="govuk-summary-list__value">
							{{ good.control_code }}
						</dd>
					</div>
				{% endif %}
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Part number
					</dt>
					<dd class="govuk-summary-list__value">
						{{ good.part_number|default:"N/A" }}
					</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Will the product be incorporated into another product?
					</dt>
					<dd class="govuk-summary-list__value">
						{{ good.is_good_end_product|friendly_boolean }}
					</dd>
				</div>
			</dl>

			<br><br>

			<!-- Documents -->
		    <div class="lite-app-bar">
				<div class="lite-app-bar__content">
					<h3 class="govuk-heading-m">Documents</h3>
				</div>
				<div class="lite-app-bar__controls">
				    {% if good.status.key == 'draft' %}
			            <a role="button" draggable="false" class="govuk-button" href="{% url 'goods:attach_documents' good.id %}" style="margin: 0;">
			                {% get_string 'goods.documents.attach_documents.button' %}
			            </a>
				    {% endif %}
				</div>
		    </div>

		    {% if documents %}
		        <p class="govuk-caption-m">{% get_string 'goods.documents.description' %}</p>

				<br>

					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">Name</th>
								<th scope="col" class="govuk-table__header">Description</th>
								<th scope="col" class="govuk-table__header">Uploaded by</th>
								<th scope="col" class="govuk-table__header"></th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							{% for document in documents %}
								<tr id="document-{{ document.id }}" class="govuk-table__row">
									<td class="govuk-table__cell">{{ document.name }}</td>
									<td class="govuk-table__cell">{{ document.description|default_na|slice:"0:40" }} {% if document.description|length > 40 %}...{% endif %}</td>
									<td class="govuk-table__cell">{{ document.user.first_name }} {{ document.user.last_name }} at {{ document.created_at|str_date }}</td>
									<td class="govuk-table__cell govuk-table__cell--numeric">
										{% if document.safe == True %}
					                        <a class="govuk-link govuk-link--no-visited-state" href="{% url 'goods:document' pk=good.id file_pk=document.id %}">
					                            <span class="govuk-visually-hidden">{% get_string 'goods.documents.download_document' %}</span>
					                            Download
					                        </a>
					                        {% if good.status.key == 'draft' %}
					                            <a href="{% url 'goods:delete_document' good.id document.id %}" style="margin: 0; margin-left: 20px;" class="govuk-link">
					                                Delete
					                            </a>
					                        {% endif %}
					                    {% elif document.safe == False %}
					                        <p class="govuk-label" style="margin: 0;color:red;">{% get_string 'goods.documents.virus_infected' %}</p>
					                    {% else %}
					                        <p class="govuk-label" style="margin: 0;">{% get_string 'goods.documents.processing' %}</p>
					                    {% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
		    {% else %}
				<br><br>
				<div class="lite-information-text">
					<span class="lite-information-text__icon" aria-hidden="true">!</span>
					<p class="lite-information-text__text">
					<span class="govuk-visually-hidden">Information</span>
						The product has no documents attached
					</p>
				</div>
		    {% endif %}

		    {% if good.query_id %}
				<br><br>
		        <div class="lite-tabs__container">
		            <a href="{% url 'goods:good_detail' good.id 'case-notes' %}" class="lite-tabs__tab {% if type == 'case-notes' %}lite-tabs__tab--selected{% endif %}" id="link-case-notes">
					    Notes
		                {% if case_note_notifications %}
		                    <div class="lite-notification-bubble">
		                        {{ case_note_notifications }}
		                    </div>
		                {% endif %}
				    </a>
		            <a href="{% url 'goods:good_detail' good.id 'ecju-queries' %}" class="lite-tabs__tab {% if type == 'ecju-queries' %}lite-tabs__tab--selected{% endif %}" id="link-ecju-queries">
		                ECJU queries
		                {% if ecju_query_notifications %}
		                    <div class="lite-notification-bubble">
		                        {{ ecju_query_notifications }}
		                    </div>
					    {% endif %}
		            </a>
		        </div>
		        {% if type == 'case-notes' and good.query_id %}
			        {% include "goods/tabs/case-notes.html" %}
		        {% elif type == 'ecju-queries'%}
			        {% include "goods/tabs/ecju-queries.html" %}
		        {% endif %}
		    {% endif %}

		</div>
	</div>

{% endblock %}
