{% extends 'layouts/full_width.html' %}

{% load humanize %}

{% block back-button %}
	<a href="/" class="govuk-back-link">Back to Hub</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h2 class="govuk-heading-l">Goods</h2>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'goods:add' %}" id="add-a-good" class="govuk-button" draggable="false" role="button">
				Add a good
			</a>
		</div>
	</div>

	{% if data.goods|length %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Description</th>
					<th class="govuk-table__header" scope="col">Part Number</th>
					<th class="govuk-table__header" scope="col">Control Code</th>
					<th class="govuk-table__header" scope="col"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for good in data.goods %}
					<tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="{% url 'goods:good' pk=good.id %}">{{ good.description }}</a></td>
						<td class="govuk-table__cell" style="{% if not good.part_number %}opacity: 0.4;{% endif %}">{{ good.part_number|default:"N/A" }}</td>
						<td class="govuk-table__cell" style="{% if not good.control_code %}opacity: 0.4;{% endif %}">{{ good.control_code|default:"N/A" }}</td>
						<td data_good_clc_query_case_id="{{ good.clc_query_case_id }}" class="govuk-table__cell">
                            {% if good.is_good_controlled == 'unsure' %}
                                N/A: In CLC query
                            {% elif good.status == 'draft' %}
                                <a class="govuk-link govuk-link--no-visited-state" href="{% url "goods:edit" pk=good.id %}">Edit</a> |
                                <a class="govuk-link govuk-link--no-visited-state" href="{% url "goods:delete" pk=good.id %}">Delete</a>
                            {% else %}
                                N/A: In application
                            {% endif %}
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-l">There are no goods to show. To add a good, use the Add a good button.</p>
	{% endif %}

{% endblock %}
