{% load svg %}

<li class="lite-task-list__item">
	<div class="lite-task-list__item-header">
		{% if edit_type != 'minor_edit' %}
		<a id="{{ entity_name }}" href="{% url section_url application.id %}" class="govuk-link govuk-link--no-visited-state">
			{{ title }}
		</a>
		{%  else %}
			 {{ title }}
		{% endif %}
		{% if data %}
			{% if multiple or document %}
				<div class="lite-tag lite-tag--blue">
					{% lcs 'applications.ApplicationSummaryPage.Sections.COMPLETED_TAG' %}
				</div>
			{% else %}
				<div class="lite-tag lite-tag--orange">
					{% lcs 'applications.ApplicationSummaryPage.Sections.IN_PROGRESS_TAG' %}
				</div>
			{% endif %}
		{% else %}
			<div class="lite-tag lite-tag--hollow">
				{% lcs 'applications.ApplicationSummaryPage.Sections.NOT_STARTED_TAG' %}
			</div>
		{% endif %}
	</div>
	<div class="lite-task-list__item-details">
		{% if data %}
			<table class="govuk-table">
				{% if multiple %}
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th class="govuk-table__header" scope="col">{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.NAME' %}</th>
							<th class="govuk-table__header" scope="col">{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.TYPE' %}</th>
							<th class="govuk-table__header" scope="col">{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.WEBSITE' %}</th>
							<th class="govuk-table__header" scope="col">{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.ADDRESS' %}</th>
							<th class="govuk-table__header" scope="col">{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.COUNTRY' %}</th>
							<th class="govuk-table__header" scope="col"></th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						{% for item in data %}
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">{{ item.name }}</td>
								<td class="govuk-table__cell">{{ item.sub_type.value }}</td>
								<td class="govuk-table__cell">{{ item.website|default_na }}</td>
								<td class="govuk-table__cell">{{ item.address }}</td>
								<td class="govuk-table__cell">{{ item.country.name }}</td>
							</tr>
						{% endfor %}
					</tbody>
				{% else %}
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<th class="govuk-table__header" scope="row">{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.TYPE' %}</th>
							<td class="govuk-table__cell">{{ data.sub_type.value }}</td>
							<td class="govuk-table__cell govuk-table__cell--numeric">
								{% if edit_type != 'minor_edit' %}
								<a class="lite-link--icon" href="{% url delete_url application.id %}">
									{% svg 'close' %}
									Remove
								</a>
								{% endif %}
							</td>
						</tr>
						<tr class="govuk-table__row">
							<th class="govuk-table__header" scope="row">{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.NAME' %}</th>
							<td class="govuk-table__cell">{{ data.name }}</td>
						</tr>
						{% if data.website %}
						<tr class="govuk-table__row">
							<th class="govuk-table__header" scope="row">{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.WEBSITE' %}</th>
							<td class="govuk-table__cell">{{ data.website }}</td>
						</tr>
						{% endif %}
						<tr class="govuk-table__row">
							<th class="govuk-table__header" scope="row">{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.ADDRESS' %}</th>
							<td class="govuk-table__cell">{{ data.address }}<br/>{{ data.country.name }}</td>
						</tr>
						<tr class="govuk-table__row">
							<th class="govuk-table__header" scope="row">{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.DOCUMENT' %}</th>
								{% if document %}
									<td class="govuk-table__cell" id="{{ entity_name }}_document_state">
										{%  if document.safe == True %}
											<a href="{% url download_url pk=application.id %}" id="{{ entity_name }}_document_download" class='govuk-link govuk-link--no-visited-state'>
												{% lcs 'EndUser.Documents.DOWNLOAD_DOCUMENT' %}
											</a>
											<br/>
											{% if edit_type != 'minor_edit' %}
												<a href="{% url delete_document_url pk=application.id %}" id="{{ entity_name }}_document_delete" class='govuk-link govuk-link--no-visited-state'>
													{% lcs 'EndUser.Documents.DELETE_DOCUMENT' %}
												</a>
											{% endif %}
										{%  else %}
											{% lcs 'EndUser.Documents.PROCESSING' %}
										{% endif %}
									</td>
								{% else %}
									<td class="govuk-table__cell">
										<a id="{{ entity_name }}_attach_doc" href="{% url attach_url application.id %}" class='govuk-link govuk-link--no-visited-state'>{% lcs 'applications.ApplicationSummaryPage.PartiesPreviewList.ATTACH' %}</a>
									</td>
								{% endif %}
						</tr>
					</tbody>
				{% endif %}
			</table>
		{% endif %}
	</div>
</li>
