<li class="lite-task-list__item">
	<div class="lite-task-list__item-header">
		<a id="{{ title|idify }}" href="{{ url }}" class="govuk-link govuk-link--no-visited-state">
			{{ title }}
		</a>
		{% if done %}
			<div class="lite-tag lite-tag--blue">
				Done
			</div>
		{% endif %}
		{% if not done and in_progress %}
			<div class="lite-tag lite-tag--orange">
				In progress
			</div>
		{% endif %}
		{% if not done and not in_progress %}
			<div class="lite-tag lite-tag--hollow">
				{% if optional %}
					Optional
				{% else %}
					Not started
				{% endif %}
			</div>
		{% endif %}
	</div>
	{% if description %}
		<div class="lite-task-list__item-details">
			<p class="govuk-caption-m">{{ description }}</p>
		</div>
	{% endif %}
</li>
