{% extends 'layouts/base.html' %}

{% block back_link %}
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %} {% lcs 'Goods.AddGoodSummary.TITLE' %} {% endblock %}
			</h1>
		</div>
	</div>

	<dl class="govuk-summary-list" id="good-detail-summary">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				{% lcs 'Goods.AddGoodSummary.CATEGORY' %}
			</dt>
			<dd class="govuk-summary-list__value">
				{{ good.item_category.value }}
			</dd>
			<dd class="govuk-summary-list__actions"></dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				{% lcs "Goods.AddGoodSummary.DESCRIPTION" %}
			</dt>
			<dd class="govuk-summary-list__value">
				{{ good.description }}
			</dd>
			<dd class="govuk-summary-list__actions">
				{% if good.status.key == 'draft' %}
					<a id="change-good-description" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:edit_good' application_id good.id %}#description">Change</a>
				{% endif %}
			</dd>
		</div>

		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				{% lcs 'Goods.AddGoodSummary.PART_NUMBER' %}
			</dt>
			<dd class="govuk-summary-list__value">
				{{ good.part_number|default_na }}
			</dd>
			<dd class="govuk-summary-list__actions">
				{% if good.status.key == 'draft' %}
					<a id="change-part-number" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:edit_good' application_id good.id %}#part_number">Change</a>
				{% endif %}
			</dd>
		</div>

		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				{% lcs 'Goods.AddGoodSummary.CLC' %}
			</dt>
			{% if good.control_list_entries %}
				<dd class="govuk-summary-list__value">
					{{ good.control_list_entries|display_clc_ratings }}
				</dd>
			{% else %}
				<dd class="govuk-summary-list__value">
					{{ good.control_list_entries|default_na }}
				</dd>
			{% endif %}
			<dd class="govuk-summary-list__actions">
				{% if good.status.key == 'draft' %}
					<a id="change-good-controlled" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:edit_good' application_id good.id %}#pane_is_good_controlled">Change</a>
				{% endif %}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				{% lcs 'Goods.AddGoodSummary.SECURITY_GRADING' %}
			</dt>
			<dd class="govuk-summary-list__value">
				{{ good.is_pv_graded.value }}
			</dd>
			<dd class="govuk-summary-list__actions">
				{% if good.status.key == 'draft' %}
					<a id="change-good-grading" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:edit_grading' application_id good.id %}">Change</a>
				{% endif %}
			</dd>
		</div>

		{% if good.item_category.key != 'group2_firearms' %}
			{% if good.item_category.key in 'group3_software,group3_technology' %}
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						{% lcs 'Goods.AddGoodSummary.PURPOSE_SOFTWARE_TECHNOLOGY' %}
					</dt>
					<dd class="govuk-summary-list__value">
						{{ good.software_or_technology_details|default_na  }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{% if good.status.key == 'draft' %}
							<a id="change-good-technology-software" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_software_technology' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.PURPOSE_SOFTWARE_TECHNOLOGY' %}</span></a>
						{% endif %}
					</dd>
				</div>
			{% endif %}

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					{% lcs "Goods.AddGoodSummary.MILITARY_USE" %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.is_military_use.value|default_na }}
					{% if good.modified_military_use_details %}
						<span class="govuk-hint"> {{ good.modified_military_use_details }} </span>
					{% endif %}
				</dd>
				<dd class="govuk-summary-list__actions">
					{% if good.status.key == 'draft' %}
						<a id="change-good-details" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_military_use' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.MILITARY_USE' %}</span></a>
					{% endif %}
				</dd>
			</div>

			{% if good.item_category.key not in 'group3_software,group3_technology' %}
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						{% lcs "Goods.AddGoodSummary.COMPONENT" %}
					</dt>
					<dd class="govuk-summary-list__value">
						{{ good.is_component.value|default_na }}
						{% if good.component_details %}
							<span class="govuk-hint"> {{ good.component_details }} </span>
						{% endif %}
					</dd>
					<dd class="govuk-summary-list__actions">
						{% if good.status.key == 'draft' %}
							<a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_component' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.COMPONENT' %}</span></a>
						{% endif %}
					</dd>
				</div>
			{% endif %}

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					{% lcs "Goods.AddGoodSummary.INFORMATION_SECURITY_FEATURES" %}
				</dt>
				<dd class="govuk-summary-list__value">
					{% if good.uses_information_security is not None %}
						{{ good.uses_information_security|friendly_boolean }}
					{% else %}
						{{ good.uses_information_security|default_na }}
					{% endif %}
					{% if good.information_security_details %}
						<span class="govuk-hint"> {{ good.information_security_details }} </span>
					{% endif %}
				</dd>
				<dd class="govuk-summary-list__actions">
					{% if good.status.key == 'draft' %}
						<a class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:good_information_security' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs 'Goods.AddGoodSummary.INFORMATION_SECURITY_FEATURES' %}</span></a>
					{% endif %}
				</dd>
			</div>
		{% endif %}

		{% if good.item_category.key == 'group2_firearms' %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					{% lcs "Goods.AddGoodSummary.FirearmDetails.PRODUCT_TYPE" %}
				</dt>
				<dd class="govuk-summary-list__value">
					{{ good.firearm_details.type.value|default_na }}
				</dd>
				<dd class="govuk-summary-list__actions">
					{% if good.status.key == 'draft' %}
						<a id="change-product-type" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearm_type' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.PRODUCT_TYPE" %}</span></a>
					{% endif %}
				</dd>
			</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						{% lcs "Goods.AddGoodSummary.FirearmDetails.YEAR_OF_MANUFACTURE" %}
					</dt>
					<dd class="govuk-summary-list__value">
						{{ good.firearm_details.year_of_manufacture|default_na }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{% if good.status.key == 'draft' %}
							<a id="change-year-of-manufacture" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:ammunition' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.YEAR_OF_MANUFACTURE" %}</span></a>
						{% endif %}
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						{% lcs "Goods.AddGoodSummary.FirearmDetails.CALIBRE" %}
					</dt>
					<dd class="govuk-summary-list__value">
						{{ good.firearm_details.calibre|default_na }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{% if good.status.key == 'draft' %}
							<a id="change-calibre" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:ammunition' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.CALIBRE" %}</span></a>
						{% endif %}
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						{% lcs "Goods.AddGoodSummary.FirearmDetails.COVERED_BY_THE_FIREARMS_ACT_1968" %}
					</dt>
					<dd class="govuk-summary-list__value">
						{% if good.firearm_details.is_covered_by_firearm_act_section_one_two_or_five is not None %}
							{{ good.firearm_details.is_covered_by_firearm_act_section_one_two_or_five|friendly_boolean}}
							{% if good.firearm_details.is_covered_by_firearm_act_section_one_two_or_five %}
								- certificate number {{ good.firearm_details.section_certificate_number|default_na }} expires on
								{{ good.firearm_details.section_certificate_date_of_expiry|date_display }}
							{% endif %}
						{% endif %}
					</dd>
					<dd class="govuk-summary-list__actions">
						{% if good.status.key == 'draft' %}
							<a id="change-firearms-act-details" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:firearms_act' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.COVERED_BY_THE_FIREARMS_ACT_1968" %}</span></a>
						{% endif %}
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						{% lcs "Goods.AddGoodSummary.FirearmDetails.IDENTIFICATION_MARKINGS" %}
					</dt>
					<dd class="govuk-summary-list__value">
						{% if good.firearm_details.has_identification_markings is not None %}
							{{ good.firearm_details.has_identification_markings|friendly_boolean }}
							<span class="govuk-hint">
								{% if good.firearm_details.has_identification_markings %}
									{{ good.firearm_details.identification_markings_details|default_na }}
								{% else %}
									{{ good.firearm_details.no_identification_markings_details|default_na }}
								{% endif %}
							</span>
						{% endif %}
					</dd>
					<dd class="govuk-summary-list__actions">
						{% if good.status.key == 'draft' %}
							<a id="change-identification-markings" class="govuk-link govuk-link--no-visited-state" href="{% url 'applications:identification_markings' application_id good.id %}">{% lcs 'generic.CHANGE' %} <span class="govuk-visually-hidden">{% lcs "Goods.AddGoodSummary.FirearmDetails.IDENTIFICATION_MARKINGS" %}</span></a>
						{% endif %}
					</dd>
				</div>
		{% endif %}
	</dl>
	<a class="govuk-button" id="button-attach-document" href="{% url 'applications:add_document' application_id good_id %}">{% lcs "Goods.AddGoodSummary.SAVE_AND_CONTINUE_BUTTON" %}</a>
{% endblock %}