// GOV.UK Design System
@import "../govuk-frontend/all";
// LITE Exporter Frontend
@import "components/all";
// LITE Shared
//@import "components/all";

.govuk-main-wrapper {
	padding: govuk-spacing(4) 0;
}

.no-borders {
	margin: 0;

	.section-header {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.section:first-of-type {
		margin-top: 0;
		padding-top: 0;
		border-top: none;

		.section-header {
			margin-top: 5px;
			padding-top: 0;
		}
	}

	.section:last-of-type {
		border-bottom: none;
	}
}
