// GOV.UK Design System
@import "../../lite-shared-assets/node_modules/govuk-frontend/all"; // LITE Shared Assets
@import "../../lite-shared-assets/lite-frontend/scss/all"; // Local Assets
// @import "components/all";
// @import "core/all";

main {
	min-height: 60vh;
}

.lite-filters {
	position: -webkit-sticky;
	position: sticky;
	top: govuk-spacing(6);
}

.lite-filter-box {
	background-color: govuk-colour("grey-4");
	padding: govuk-spacing(4);
	margin-bottom: govuk-spacing(6);
}

.lite-filter-bar {
	@include govuk-font($size: 19);
	display: flex;
	flex-wrap: wrap;
	background-color: govuk-colour("grey-4");
	padding: govuk-spacing(4);
	margin-bottom: govuk-spacing(6);

	* {
		margin: 0 govuk-spacing(1) 0 0;
		line-height: 30px!important;
	}
}

.lite-filter-bar-item {
	position: relative;
	padding: 0 govuk-spacing(2);
	z-index: 0;
	display: flex;
	margin-top: -2px;
}

.lite-filter-bar-item-remove {
	@include govuk-font($size: 14, $weight: bold);
	display: inline-block;
	line-height: 1.25;
}

.lite-item {
	background-color: govuk-colour("grey-4");
	padding: govuk-spacing(4);
	margin-bottom: govuk-spacing(6);
}

.no-borders {
	margin: 0;

	.section-header {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.section:first-of-type {
		margin-top: 0;
		padding-top: 0;
		border-top: none;

		.section-header {
			margin-top: 5px;
			padding-top: 0;
		}
	}

	.section:last-of-type {
		border-bottom: none;
	}
}

.lite-section-break {
	margin: 0;
	padding: 0;
	height: 2px;
	border: none;
	background-color: transparent;
	margin-bottom: govuk-spacing(6);
}
