$lite-transition-speed: 0s !default;
@import "../shared/node_modules/govuk-frontend/govuk/all"; // GOV.UK Design System
@import "../shared/lite-frontend/scss/all"; // LITE Design System
@import "components/all"; // Local assets

.hidden .js-enabled{
	display: none;
}

.govuk-summary-list__key--highlight {
	border-left: govuk-spacing(1) solid govuk-colour("orange");
	padding-left: govuk-spacing(3);
}

.lite-warning-summary {
	@include govuk-responsive-margin(9, "bottom");
	border: govuk-spacing(1) solid govuk-colour("orange");
	padding: govuk-spacing(4);
}

.lite-error-summary__list {
	margin: 0;

	li:last-of-type {
		margin: 0;
	}
}

.lite-error-summary__list a {
	color: govuk-colour("orange");
	font-weight: bold;
}

.app-check-your-answers-separator {
	display: block;
	height: 1px;
	background: transparent;
	margin: govuk-spacing(8) 0;
	border: none;
}

.app-icon-label {
	display: inline-block;
	p {
		margin: 0;
		padding: 0;
	}
}

.app-verified__symbol {
	display: inline-block;
	margin-left: govuk-spacing(1);
	margin-top: 1px;

	svg {
		width: 16px;
		height: 16px;
	}

	* {
		color: inherit;
		fill: currentColor;
	}
}

.app-info-bar--verified {
	svg {
		position: absolute;
		top: govuk-spacing(4);
		left: govuk-spacing(4);
		width: 30px;
		height: 30px;

		* {
			fill: govuk-colour("white");
		}
	}

	&::before {
		display: none;
	}
}
