$lite-transition-speed: 0s !default;
@import "../shared/node_modules/govuk-frontend/govuk/all"; // GOV.UK Design System
@import "../shared/lite-frontend/scss/all"; // LITE Design System
@import "components/all"; // Local assets

main {
	min-height: 60vh;
}

.govuk-table {
	table-layout: fixed;
}

.govuk-table__cell {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.govuk-summary-list__key--highlight {
	border-left: govuk-spacing(1) solid govuk-colour("orange");
	padding-left: govuk-spacing(3);
}

.lite-warning-summary {
	@include govuk-responsive-margin(9, "bottom");
	border: govuk-spacing(1) solid govuk-colour("orange");
	padding: govuk-spacing(4);
}

.lite-error-summary__list {
	margin: 0;

	li:last-of-type {
		margin: 0;
	}
}

.lite-error-summary__list a {
	color: govuk-colour("orange");
	font-weight: bold;
}

.app-check-your-answers-separator {
	display: block;
	height: 1px;
	background: transparent;
	margin: govuk-spacing(8) 0;
	border: none;
}

.app-icon-label {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	&__notification {
		@include govuk-font($size: 14, $weight: bold);
		display: inline-block;
		margin-left: govuk-spacing(1);
		margin-top: 1px;
		min-width: 16px;
		height: 16px;
		background-color: govuk-colour("red");
		line-height: 16px!important;
		color: govuk-colour("white");
		border-radius: 8px;
		text-align: center;
		margin-bottom: 2px;
		text-decoration: none!important;
	}

	&:hover {
		p {
			text-decoration: underline;
		}

		.app-icon-label__notification {
			background-color: darken(govuk-colour("red"), 7.5%);
		}
	}

	&:active {
		.app-icon-label__notification {
			background-color: darken(govuk-colour("red"), 15%);
		}
	}

	p {
		margin: 0;
		padding: 0;
	}
}

.app-verified__symbol {
	display: inline-block;
	margin-left: govuk-spacing(1);
	margin-top: 1px;

	svg {
		width: 16px;
		height: 16px;
	}

	* {
		color: inherit;
		fill: currentColor;
	}
}

.app-info-bar--verified {
	svg {
		position: absolute;
		top: govuk-spacing(4);
		left: govuk-spacing(4);
		width: 30px;
		height: 30px;

		* {
			fill: govuk-colour("white");
		}
	}

	&::before {
		display: none;
	}
}

.great-button {
	background-color: lighten(#1e1348, 20%);
	box-shadow: 0 2px 0 #1e1348;
	padding: 10px 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;

	&:hover {
		background-color: lighten(#1e1348, 7.5%);
		box-shadow: 0 2px 0 darken(#1e1348, 5%);
	}

	&:active {
		background-color: #1e1348;
		box-shadow: 0 2px 0 darken(#1e1348, 10%);
	}

	svg {
		width: auto;
		max-height: 20px;
		margin-left: govuk-spacing(2);
	}
}
