.app-tiles {
	display: grid;
	@include govuk-media-query($from: mobile) {
		grid-template-columns: 1fr!important;
	}
	@include govuk-media-query($from: tablet) {
		grid-template-columns: 1fr 1fr!important;
	}
	@include govuk-media-query($from: desktop) {
		grid-template-columns: 1fr 1fr 1fr!important;
	}
	grid-gap: (govuk-spacing(3) + 4px) govuk-spacing(3);
}

.app-tile {
	@include govuk-responsive-padding(5);
	@include govuk-font($size: 16);
	background-color: govuk-colour("light-grey");
	border-top: 4px solid $govuk-brand-colour;
	box-sizing: border-box;
	padding-right: govuk-spacing(8);
	min-height: 200px!important;
	color: $govuk-brand-colour!important;

	@include govuk-media-query($from: tablet) {
		min-height: 150px;
	}

	.lite-notification-bubble {
		@include govuk-font($size: 14, $weight: bold);
		color: govuk-colour("white") !important;
		text-decoration: none !important;
		display: inline-block;
		margin-left: govuk-spacing(1);
	}

	li,
	p {
		color: $govuk-text-colour!important;
	}

	.app-tile__heading {
		@include govuk-font($size: 19, $weight: bold);
		margin-bottom: govuk-spacing(1);
		text-decoration: underline;
		margin-right: govuk-spacing(1);
	}

	.app-tile__link {
		@extend .govuk-link;
		@extend .govuk-link--no-visited-state;
	}
}

.app-navigation {
	position: relative;
	border-bottom: 1px solid govuk-colour("mid-grey");
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.home-link {
	color: $govuk-text-colour !important;
	display: inline-block;
	padding: govuk-spacing(2) govuk-spacing(0) govuk-spacing(1);
	text-decoration: none;
	border-bottom: 4px solid transparent;

	&:hover {
		border-bottom: 4px solid govuk-colour("mid-grey");
	}
}

.nav-item {
	color: $govuk-text-colour;
	display: inline-block;
	padding: govuk-spacing(2) govuk-spacing(0) govuk-spacing(1);
	text-decoration: none;
	border-bottom: 4px solid transparent;

	&:hover {
		border-bottom: 4px solid govuk-colour("mid-grey");
	}
}
