{% extends 'layouts/two_pane.html' %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' %}
{% endblock %}

{% block two_thirds %}
	<h1 class="govuk-heading-xl">{{ title }}</h1>

	<p class="govuk-body">Use this service to:</p>

	<ul class="govuk-list govuk-list--bullet">
        {% for item in service_uses %}
            <li>{{ item }}</li>
        {% endfor %}
	</ul>

	<p class="govuk-body">{% get_string 'licences.length_of_time_for_application' %}</p>

	<a href="{% url 'apply_for_a_licence:start' %}" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
		Start now
		<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
			<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
		</svg>
	</a>
{% endblock %}
{% block one_third %}
	<aside class="lite-related-items" role="complementary">
		<h2 class="govuk-heading-m" id="subsection-title">
			Related Links
		</h2>
		<nav role="navigation" aria-labelledby="subsection-title">
			<ul class="govuk-list govuk-!-font-size-16">
				<li>
					<a class="govuk-body govuk-link govuk-link--no-visited-state" href="{% url 'applications:applications' %}">
						View your Applications
					</a>
				</li>
			</ul>
		</nav>
	</aside>
{% endblock%}
