{% extends 'layouts/two_pane.html' %}

{% load humanize custom_tags svg %}

{% block back_link %}{% endblock %}

{% block two_thirds %}

<style media="screen">
	.govuk-table__row {
		line-height: 35px;
	}
	.govuk-table__head, .govuk-table__body {
		border-top: 1px solid rgb(230, 230, 230);
	}
	.govuk-table__header, .govuk-table__cell {
		border-bottom: 1px solid rgb(230, 230, 230);
	}
	.govuk-table * {
		vertical-align: top;
	}
	.lite-section {
		border-top: 1px solid rgb(230, 230, 230);
		border-bottom: 1px solid rgb(230, 230, 230);
		border: none;
		padding: 25px;
		background-color: rgb(250, 250, 250);
		border: 1px solid rgb(245, 245, 245);
		box-sizing: border-box;
	}
	</style>

{% if errors %}
	<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
		<h2 class="govuk-error-summary__title" id="error-summary-title">
			There are errors on this page
		</h2>
		<div class="govuk-error-summary__body">
			<ul class="govuk-list govuk-error-summary__list">
				{% for key, value in errors.items %}
					<li>
						<a href="#{{ key }}">
							{{ value }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}

<h2 class="govuk-heading-l">
	{{ title }}
</h2>

<div class="govuk-form-group">
	<p class="govuk-caption-m">The following sections can be completed in any order.</p>
</div>

<div class="lite-section">
	<table class="govuk-table">
		<tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="row">Name</th>
				<td class="govuk-table__cell">{{ draft.name }}</td>
				<!--<td class="govuk-table__cell"><a href="#" class="govuk-link">Edit</a></td>-->
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="row">Licence type</th>
				<td class="govuk-table__cell">{{ draft.licence_type.value }}</td>
			</tr>
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="row">Export type</th>
				<td class="govuk-table__cell">{{ draft.export_type.value }}</td>
			</tr>
			{% if draft.reference_number_on_information_form %}
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Reference Number</th>
					<td class="govuk-table__cell">{{ draft.reference_number_on_information_form }}</td>
				</tr>
			{% endif %}
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="row">Created at</th>
				<td class="govuk-table__cell">{{ draft.created_at|str_date }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="lite-section {% if errors|key_value:'goods' %}govuk-form-group--error{% endif %}">
	<div class="lite-section-header">
		<div>
            {% if draft.licence_type.key == 'open_licence' %}
                <a id="goods" href="{% url 'apply_for_a_licence:open_goods' draft.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
                {% get_string 'good_types.overview.title' %}
                </a>
            {% else %}
                <a id="goods" href="{% url 'apply_for_a_licence:goods' draft.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
                    Add Goods
                </a>
            {% endif %}
		</div>
		{% if goods|length or goodstypes|length %}
			<div class="lite-tag lite-tag--small lite-tag--blue">
				Done
			</div>
		{% else %}
			<div class="lite-tag lite-tag--small">
				Not Started
			</div>
		{% endif %}
	</div>
	{% if errors|key_value:'goods' %}
		<p class="govuk-error-message">
			{{ errors|key_value:'goods' }}
		</p>
	{% endif %}
    {% if draft.licence_type.key == 'standard_licence' and goods %}
		<table class="govuk-table">
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Description</th>
                    <th class="govuk-table__header" scope="row">Part Number</th>
                    <th class="govuk-table__header" scope="row">Qty</th>
					<th class="govuk-table__header" scope="row">Unit</th>
                    <th class="govuk-table__header" scope="row">Value Per Good</th>
				</tr>
				{% for good in goods %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell" scope="row">{{ good.good.description }}</td>
                        <td class="govuk-table__cell" scope="row">{{ good.good.part_number }}</td>
                        <td class="govuk-table__cell" scope="row">{{ good.quantity }}</td>
                        <td class="govuk-table__cell" scope="row">{{ good.unit.value }}</td>
                        <td class="govuk-table__cell" scope="row">£{{ good.value }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    {% elif draft.licence_type.key == 'standard_licence' and not goods %}
		<p class="govuk-caption-m">Add goods to your application</p>
	{% endif %}

	{% if draft.licence_type.key == 'open_licence' and goodstypes %}
		<table id="good_types_table_overview" class="govuk-table">
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Description</th>
					<th class="govuk-table__header" scope="row">Control List Classification</th>
				</tr>
				{% for goodstype in goodstypes %}

					<tr class="govuk-table__row">
						<td class="govuk-table__cell" scope="row">{{ goodstype.description }}</td>
                        {% if goodstype.control_code %}
						    <td class="govuk-table__cell" scope="row">{{ goodstype.control_code }}</td>
                        {% else %}
                            <td  class="govuk-table__cell" scope="row">N/A</td>
                        {% endif %}
                    </tr>
				{% endfor %}
			</tbody>
		</table>
    {% elif draft.licence_type.key == 'open_licence' and not goodstypes %}
		<p class="govuk-caption-m">{% get_string 'good_types.overview.no_good_types' %}</p>
    {% endif %}


</div>

<div class="lite-section {% if errors|key_value:'sites' %}govuk-form-group--error{% endif %}">
	<div class="lite-section-header">
		<div>
			<a id="location" href="{% url 'apply_for_a_licence:location' draft.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
				Location of goods
			</a>
		</div>
		{% if sites or external_locations %}
			<div class="lite-tag lite-tag--small lite-tag--blue">
				Done
			</div>
		{% else %}
			<div class="lite-tag lite-tag--small">
				Not Started
			</div>
		{% endif %}
	</div>
	{% if errors|key_value:'location' %}
		<p class="govuk-error-message">
			{{ errors|key_value:'location' }}
		</p>
	{% endif %}

	{% if sites %}
		<table class="govuk-table">
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Site</th>
					<td class="govuk-table__header">Location</td>
				</tr>
				{% for site in sites %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell" scope="row">{{ site.name }}</td>
						<td class="govuk-table__cell">
							{{ site.address.address_line_1 }}<br/>
							{% if site.address.address_line_2 %}
								{{ site.address.address_line_2 }}<br/>
							{% endif %}
							{{ site.address.city }}<br/>
							{{ site.address.postcode }}<br/>
							{{ site.address.country.name }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% elif external_locations %}
		<table class="govuk-table">
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Name</th>
					<td class="govuk-table__header">Location</td>
				</tr>
				{% for external_location in external_locations %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell" scope="row">{{ external_location.name }}</td>
						<td class="govuk-table__cell">{{ external_location.address|linebreaksbr }}<br>{{ external_location.country }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-m">Set where your goods are located</p>
	{% endif %}
</div>

{% if draft.licence_type.key == 'open_licence' %}
<div class="lite-section {% if errors|key_value:'countries' %}govuk-form-group--error{% endif %}">
	<div class="lite-section-header">
		<div>
			<a id="countries" href="{% url 'apply_for_a_licence:countries' draft.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
				Where are your goods going?
			</a>
		</div>
		{% if countries %}
			<div class="lite-tag lite-tag--small lite-tag--blue">
				Done
			</div>
		{% else %}
			<div class="lite-tag lite-tag--small">
				Not Started
			</div>
		{% endif %}
	</div>
	{% if errors|key_value:'countries' %}
		<p class="govuk-error-message">
			{{ errors|key_value:'countries' }}
		</p>
	{% endif %}

	<p class="govuk-caption-m">Select all the countries that your goods are going to</p>

	<div style="display: none;">
		<div id="countries-data">
			{% for country in countries %}
				<p class="govuk-label">{{ country.name }}</p>
			{% endfor %}
		</div>
	</div>

	{% if countries %}
		<a href="#" class="govuk-link govuk-link--no-visited-state" onclick="return showCountries()">{{ countries|length }} Countries Selected</a>
	{% endif %}
</div>
{% endif %}

{% if draft.licence_type.key == 'open_licence' %}
<div class="lite-section">
	<div class="lite-section-header">
		<div>
			<a id="countries" href="{% url 'goods_type:countries' draft.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
				Explain where each item is going (Optional)
			</a>
		</div>
		{% if countries_on_goods_types %}
			<div class="lite-tag lite-tag--small lite-tag--blue">
				Done
			</div>
		{% else %}
			<div class="lite-tag lite-tag--small">
				Not Done
			</div>
		{% endif %}
	</div>

	<p class="govuk-caption-m">In this section, you can choose an item and tick the countries it will go to.</p>
	<p class="govuk-caption-m">You do not need this:
        <ul>
            <li class="govuk-caption-m">* If you are sending every item to every country</li>
            <li class="govuk-caption-m">* But it may get you a quicker decision about your export licence</li>
        </ul>
    </p>

</div>
{% endif %}

{% if draft.licence_type.key == 'standard_licence' %}
<div class="lite-section {% if errors|key_value:'end_user' %}govuk-form-group--error{% endif %}">
	<div class="lite-section-header">
		<div>
			<a id="end_users" href="{% url 'apply_for_a_licence:end_user' draft.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
				End User
			</a>
		</div>

		{% if draft.end_user %}
			<div class="lite-tag lite-tag--small lite-tag--blue">
				Done
			</div>
		{% else %}
			<div class="lite-tag lite-tag--small">
				Not Started
			</div>
		{% endif %}
	</div>
	{% if errors|key_value:'end_user' %}
		<p class="govuk-error-message">{{ errors|key_value:'end_user' }}</p>
    {% elif errors|key_value:'end_user_document'%}
        <p class="govuk-error-message">{{ errors|key_value:'end_user_document' }}</p>
	{% endif %}
	{% if draft.end_user %}
		<table class="govuk-table">
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Type</th>
					<td class="govuk-table__cell">{{ draft.end_user.sub_type|title }}</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Name</th>
					<td class="govuk-table__cell">{{ draft.end_user.name }}</td>
				</tr>
				{% if draft.end_user.website %}
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Website</th>
					<td class="govuk-table__cell">{{ draft.end_user.website }}</td>
				</tr>
				{% endif %}
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Address</th>
					<td class="govuk-table__cell">{{ draft.end_user.address }}<br/>{{ draft.end_user.country.name }}</td>
				</tr>
                {% if end_user_document %}
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Document</th>
                        <td class="govuk-table__cell" id="end_user_document_state">
                            {%  if end_user_document.safe == True %}
                                <a href="{% url 'apply_for_a_licence:end_user_download_document' pk=draft.id %}" id="end_user_document_download" class='govuk-link govuk-link--no-visited-state'>
                                    {% get_string 'end_user.documents.download_document' %}
                                </a>
                                <br/>
                                <a href="{% url 'apply_for_a_licence:end_user_delete_document' pk=draft.id %}" id="end_user_document_delete" class='govuk-link govuk-link--no-visited-state'>
                                    {% get_string 'end_user.documents.delete_document' %}
                                </a>
                            {%  else %}
                                {% get_string 'end_user.documents.processing' %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Document</th>
                        <td class="govuk-table__cell"><a id="end_user_attach_doc" href="{% url 'apply_for_a_licence:end_user_attach_document' draft.id %}" class='govuk-link govuk-link--no-visited-state'>Attach</a></td>
                    </tr>
                {% endif %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-m">Add an end user to your application</p>
	{% endif %}
</div>
{% endif %}

{% if draft.licence_type.key == 'standard_licence' %}
<div class="lite-section {% if errors|key_value:'consignee' %}govuk-form-group--error{% endif %}">
	<div class="lite-section-header">
		<div>
			<a id="consignees" href="{% url 'apply_for_a_licence:consignee' draft.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
				Consignee
			</a>
		</div>

		{% if draft.consignee %}
			<div class="lite-tag lite-tag--small lite-tag--blue">
				Done
			</div>
		{% else %}
			<div class="lite-tag lite-tag--small">
				Not Started
			</div>
		{% endif %}
	</div>
	{% if errors|key_value:'consignee' %}
		<p class="govuk-error-message">{{ errors|key_value:'consignee' }}</p>
    {% elif errors|key_value:'consignee_document'%}
        <p class="govuk-error-message">{{ errors|key_value:'consignee_document' }}</p>
	{% endif %}
	{% if draft.consignee %}
		<table class="govuk-table">
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Type</th>
					<td class="govuk-table__cell">{{ draft.consignee.sub_type|title }}</td>
				</tr>
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Name</th>
					<td class="govuk-table__cell">{{ draft.consignee.name }}</td>
				</tr>
				{% if draft.consignee.website %}
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Website</th>
					<td class="govuk-table__cell">{{ draft.consignee.website }}</td>
				</tr>
				{% endif %}
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="row">Address</th>
					<td class="govuk-table__cell">{{ draft.consignee.address }}<br/>{{ draft.consignee.country.name }}</td>
				</tr>
                {% if consignee_document %}
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Document</th>
                            <td class="govuk-table__cell" id="consignee_document_state">
                                {%  if consignee_document.safe == True %}
                                    <a href="{% url 'apply_for_a_licence:consignee_download_document' pk=draft.id %}" id="consignee_document_download" class='govuk-link govuk-link--no-visited-state'>
                                        {% get_string 'end_user.documents.download_document' %}
                                    </a>
                                    <br/>
                                    <a href="{% url 'apply_for_a_licence:consignee_delete_document' pk=draft.id %}" id="consignee_document_delete" class='govuk-link govuk-link--no-visited-state'>
                                        {% get_string 'end_user.documents.delete_document' %}
                                    </a>
                                {%  else %}
                                    {% get_string 'end_user.documents.processing' %}
                                {% endif %}

                            </td>
                        </tr>
                    {% else %}
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Document</th>
                            <td class="govuk-table__cell"><a id="consignee_attach_doc" href="{% url 'apply_for_a_licence:consignee_attach_document' draft.id %}" class='govuk-link govuk-link--no-visited-state'>Attach</a></td>
                        </tr>
                    {% endif %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-m">Add a consignee to your application</p>
	{% endif %}
</div>
{% endif %}

{% if draft.licence_type.key == 'standard_licence' and ultimate_end_users_required %}
<div class="lite-section {% if errors|key_value:'ultimate_end_users' %}govuk-form-group--error{% endif %}">
	<div class="lite-section-header">
		<div>
			<a id="ultimate_end_users" href="{% url 'apply_for_a_licence:ultimate_end_users' draft.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
				Ultimate End Users
			</a>
		</div>

		{% if ultimate_end_users %}
			<div class="lite-tag lite-tag--small lite-tag--blue">
				Done
			</div>
		{% else %}
			<div class="lite-tag lite-tag--small">
				Not Started
			</div>
		{% endif %}
	</div>
	{% if errors|key_value:'ultimate_end_users' %}
		<p class="govuk-error-message">{{ errors|key_value:'ultimate_end_users' }}</p>
    {% elif errors|key_value:'ultimate_end_user_documents'%}
        <p class="govuk-error-message">{{ errors|key_value:'ultimate_end_user_documents' }}</p>
	{% endif %}
	{% if ultimate_end_users %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">Type</th>
                    <th class="govuk-table__header" scope="col">Website</th>
					<th class="govuk-table__header" scope="col">Address</th>
					<th class="govuk-table__header" scope="col">Country</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for ultimate_end_user in ultimate_end_users %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">{{ ultimate_end_user.name }}</td>
                        <td class="govuk-table__cell">{{ ultimate_end_user.sub_type|title }}</td>
                        <td class="govuk-table__cell">{{ ultimate_end_user.website }}</td>
						<td class="govuk-table__cell">{{ ultimate_end_user.address }}</td>
						<td class="govuk-table__cell">{{ ultimate_end_user.country.name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-m">Add ultimate end users to your application</p>
	{% endif %}
</div>
{% endif %}

{% if draft.licence_type.key == 'standard_licence' %}
<div class="lite-section {% if errors|key_value:'third_parties' %}govuk-form-group--error{% endif %}">
	<div class="lite-section-header">
		<div>
			<a id="third_parties" href="{% url 'apply_for_a_licence:third_parties' draft.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
				Third Parties (optional)
			</a>
		</div>
		{% if third_parties %}
			<div class="lite-tag lite-tag--small lite-tag--blue">
				Done
			</div>
		{% else %}
			<div class="lite-tag lite-tag--small">
				Not Started
			</div>
		{% endif %}
	</div>
	{% if errors|key_value:'third_parties' %}
		<p class="govuk-error-message">{{ errors|key_value:'third_parties' }}</p>
	{% endif %}
	{% if third_parties %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">Type</th>
                    <th class="govuk-table__header" scope="col">Website</th>
					<th class="govuk-table__header" scope="col">Address</th>
					<th class="govuk-table__header" scope="col">Country</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for third_party in third_parties %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">{{ third_party.name }}</td>
                        <td class="govuk-table__cell">{{ third_party.sub_type|strip_underscores }}</td>
                        <td class="govuk-table__cell">{{ third_party.website }}</td>
						<td class="govuk-table__cell">{{ third_party.address }}</td>
						<td class="govuk-table__cell">{{ third_party.country.name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-m">Add third parties to your application</p>
	{% endif %}
</div>
{% endif %}


<div class="lite-section {% if errors|key_value:'additional_documents' %}govuk-form-group--error{% endif %}">
	<div class="lite-section-header">
		<div>
			<a id="third_parties" href="{% url 'apply_for_a_licence:additional_documents' draft.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
				Additional Documents (optional)
			</a>
		</div>
		{% if additional_documents %}
			<div class="lite-tag lite-tag--small lite-tag--blue">
				Done
			</div>
		{% else %}
			<div class="lite-tag lite-tag--small">
				Not Started
			</div>
		{% endif %}
	</div>
	{% if errors|key_value:'additional_documents' %}
		<p class="govuk-error-message">{{ errors|key_value:'additional_documents' }}</p>
	{% endif %}
	{% if additional_documents %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">Description</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for additional_document in additional_documents %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">{{ additional_document.name }}</td>
                        <td class="govuk-table__cell">{{ additional_document.description }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-m">Add additional documents to your application</p>
	{% endif %}
</div>

<div class="lite-submit-bar js-is-sticky">
<div class="lite-vertical-align" style="display: inline-flex; float: right; height: 38px;">
	<a href="{% url 'apply_for_a_licence:delete' draft.id %}" class="govuk-link" style="margin: 0; float: right;" onclick="return showCancelApplication()">
		Delete draft
	</a>
</div>
<form method="post">
	{% csrf_token %}
	<button type="submit" class="govuk-button" name="button" data-prevent-double-click="true" style="margin-bottom: 0;">Submit application</button>
</form>
</div>

<!-- Modals -->
<div id="cancel-application" style="display: none;">
	{% include "apply_for_a_licence/modals/cancel_application.html" %}
</div>


{% load static %}
<script src="{% static 'javascripts/modal.js' %}"></script>
<script src="{% static 'javascripts/specific/overview.js' %}"></script>
<script src="{% static 'javascripts/stickybits.min.js' %}"></script>

<script type="text/javascript">
	stickybits('.lite-submit-bar', {useStickyClasses: true, verticalPosition: 'bottom'});
</script>

{% endblock %}
{% block oneTahird %}
<aside role="complementary">
	<h2 class="govuk-heading-m">
		Need to go?
	</h2>
	<p class="govuk-body">
		You can find this application in your <a class="govuk-link" href="/drafts/">drafts</a>.
	</p>
</aside>
<br>
<br>
<aside role="complementary">
	<h2 class="govuk-heading-m">
		Don't want to continue this application?
	</h2>
	<a href="{% url 'apply_for_a_licence:delete' draft.id %}" class="govuk-body govuk-link">
		Delete Draft Application
	</a>
</aside>
{% endblock %}
