{% extends 'layouts/base.html' %}

{% load humanize custom_tags %}

{% block back-button %}
	<a href="#" class="govuk-back-link">Back</a>
	<a href="?id={{ data.draft.id }}&return=hub" class="cancel-link">Delete Application</a>
{% endblock %}

{% block body %}

	<span class="govuk-caption-l">{{ title }}</span>
	<h2 class="govuk-heading-l">
		{{ data.draft.name }}
	</h2>

	<span class="govuk-caption-m">The following sections can be completed in any order.</span>

	<!-- Sections -->
	<div class="section-container">

	</div>

	<form action="" method="post">
        {% csrf_token %}
		<button type="submit" class="govuk-button govuk-button--start" name="button" data-prevent-double-click="true">Submit Application</button>
	</form>

	{% load static %}
	<script src="{% static 'javascripts/modal.js' %}"></script>
	<script src="{% static 'javascripts/specific/overview.js' %}"></script>
{% endblock %}
