{% extends 'layouts/two_pane.html' %}

{% load svg %}

{% block back_link %}
	<a href="{% url 'applications:overview' draft_id %}" class="govuk-back-link">Back to Overview</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h2 class="govuk-heading-l">
				{% block title %}Describe your goods{% endblock%}
			</h2>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'applications:add_goods_type' draft_id %}?next={% url 'applications:open_goods' draft_id %}" role='button' draggable='false' class='govuk-button'>{% get_string 'good_types.overview_good_types.add_good_type_button' %}</a>
		</div>
	</div>

	{% if goods %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Name</th>
					<th scope="col" class="govuk-table__header">Part Number</th>
					<th scope="col" class="govuk-table__header">Control List Entry</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for good_on_application in goods %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							{{ good_on_application.description }}
						</td>
						<td class="govuk-table__cell">
							{{ good_on_application.part_number|default_na }}
						</td>
						<td class="govuk-table__cell">
							{{ good_on_application.control_code|default_na }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="lite-information-text">
			<span class="lite-information-text__icon" aria-hidden="true">!</span>
			<p class="lite-information-text__text">
				<span class="govuk-visually-hidden">Information</span>
				You haven't added any goods to your application yet.
			</p>
		</div>
	{% endif %}
{% endblock %}
