{% extends 'layouts/base.html' %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' with title='hub.Tiles.OPEN_LICENCE_RETURNS' %}
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}
					Compliance
				{% endblock %}
			</h1>
		</div>
	</div>

	{% if compliance %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Reference number</th>
					<th class="govuk-table__header" scope="col">Site</th>
					<th class="govuk-table__header" scope="col">Address</th>
					<th class="govuk-table__header" scope="col">Next review date</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for compliance_case in compliance.results %}
					<tr id={{ compliance_case.id }} class="govuk-table__row">
						<td class="govuk-table__cell">
							<a class="govuk-link govuk-link--no-visited-state app-icon-label" href="{% url 'compliance:compliance_site_details' compliance_case.id "details" %}">
								{{ compliance_case.reference_code }}
							</a>
							{% if compliance_case.exporter_user_notification_count %}<span class="lite-notification-bubble" id="eua-notifications"><span class="govuk-visually-hidden"> (</span>{{ compliance_case.exporter_user_notification_count }}<span class="govuk-visually-hidden"> notifications)</span></span>{% endif %}
						</td>
						<td class="govuk-table__cell">
							{{ compliance_case.site_name }}
						</td>
						<td class="govuk-table__cell">
							{{ compliance_case|get_address }}
						</td>
						<td class="govuk-table__cell">
							TODO
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% pagination with data=compliance %}
	{% else %}
		TODO: NOTICE
	{% endif %}
{% endblock %}
