{% extends 'layouts/base.html' %}

{% block back_link %}
	<a href="{% url 'compliance:compliance_site_details' site_case_id "visit-reports" %}" id="back-link" class="govuk-back-link">
		{% lcs "compliance.ComplianceVisitCase.BACK_LINK" %}
	</a>
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}
					{{ reference_code }}
				{% endblock %}
			</h1>
		</div>
	</div>

	<div class="lite-tabs__container govuk-!-margin-top-6">
		<div class="lite-tabs">
			<a href="{% url 'compliance:compliance_visit_details' site_case_id id 'ecju-queries' %}" class="lite-tabs__tab {% if tab == 'ecju-queries' %}lite-tabs__tab--selected{% endif %}" id="link-case-notes">
				{% lcs "compliance.ComplianceVisitCase.Tabs.ECJU_QUERIES" %}
				{% if exporter_user_notification_count.ecjuquery %}
					<div class="lite-notification-bubble">
						{{ exporter_user_notification_count.ecjuquery }}
					</div>
				{% endif %}
			</a>
			<a href="{% url 'compliance:compliance_visit_details' site_case_id id 'generated-documents' %}" class="lite-tabs__tab {% if tab == 'generated-documents' %}lite-tabs__tab--selected{% endif %}" id="link-case-notes">
				{% lcs "compliance.ComplianceVisitCase.Tabs.GENERATED_DOCUMENTS" %}
				{% if exporter_user_notification_count.generatedcasedocument %}
					<div class="lite-notification-bubble">
						{{ exporter_user_notification_count.generatedcasedocument }}
					</div>
				{% endif %}
			</a>
		</div>
	</div>

	{% if tab == "ecju-queries" %}
		{% include "includes/ecju-queries.html" with object_type="compliance-visit" case_id=id site_case_id=site_case_id %}
	{% elif tab == "generated-documents" %}
		{% include "core/ecju-generated-documents.html" with case_id=id %}
	{% endif %}
{% endblock %}
