{% extends 'layouts/full_width.html' %}

{% load humanize %}

{% block back_link %}
<a href="{% url 'apply_for_a_licence:overview' draft_id %}" class="govuk-back-link">Back to Application</a>
{% endblock %}

{% block body %}

{% if userDeactivated == "true" %}
<div class="information information-animated">
	{% get_string 'users.deleted' %}
</div>
{% endif %}

<div class="lite-app-bar">
	<div class="lite-app-bar__content">
		<h1 class="govuk-heading-l">Third parties</h1>
		<p class="govuk-caption-m">{{ description }}</p>
	</div>
	<div class="lite-app-bar__controls">
		<a href="{% url add_link draft_id %}" class="govuk-button" draggable="false" role="button">
			Add a Third party
		</a>
	</div>
</div>

{% if third_parties|length %}
<table class="govuk-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th class="govuk-table__header" scope="col">Name</th>
			<th class="govuk-table__header" scope="col">Type</th>
			<th class="govuk-table__header" scope="col">Website</th>
			<th class="govuk-table__header" scope="col">Address</th>
			<th class="govuk-table__header" scope="col">Country</th>
            <th class="govuk-table__header" scope="col">Document</th>
			<th class="govuk-table__header" scope="col">Third party</th>
		</tr>
	</thead>
	<tbody class="govuk-table__body">
		{% for third_party in third_parties %}
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">{{ third_party.name }}</td>
			<td class="govuk-table__cell">{{ third_party.sub_type|title }}</td>
			<td class="govuk-table__cell">{{ third_party.website }}</td>
			<td class="govuk-table__cell">{{ third_party.address }}</td>
			<td class="govuk-table__cell">{{ third_party.country.name }}</td>
            <td class="govuk-table__cell">
            {% if third_party.document %}
                {%  if third_party.document.safe == True %}
                    <a href="{% url download_document_link draft_id third_party.id %}" id="document_download" class='govuk-link govuk-link--no-visited-state'>
                        Download
                    </a>
                    <br/>
                    <a href="{% url delete_document_link draft_id third_party.id %}" id="document_delete" class='govuk-link govuk-link--no-visited-state'>
                        Delete
                    </a>
                {% else %}
                    Processing
                {% endif %}
            {% else %}
                <a href="{% url attach_document_link draft_id third_party.id %}" id="attach_doc" class='govuk-link govuk-link--no-visited-state'>
                    Attach
                </a>
            {% endif %}
			<td class="govuk-table__cell">
				<a href="{% url delete_link draft_id third_party.id %}" style="margin: 0;" class="govuk-link">
                    Delete third party
                </a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
	<hr class="lite-horizontal-separator">
	<p class="govuk-caption-l">You haven't added any Third parties to your application</p>
{% endif %}
{% endblock %}
