{% load svg %}

<!-- End User -->
<li class="lite-task-list__item">
	<div class="lite-task-list__item-header">
		{% if edit_type != 'minor_edit' %}
		<a id="end_users" href="{% url 'applications:end_user' application.id %}" class="govuk-link govuk-link--no-visited-state">
			End user
		</a>
		{% else %}
			End user
		{% endif %}
		{% if application.end_user and end_user_document %}
			<div class="lite-tag lite-tag--blue">
				Completed
			</div>
		{% elif application.end_user %}
			<div class="lite-tag lite-tag--orange">
				In progress
			</div>
		{% else %}
			<div class="lite-tag lite-tag--hollow">
				Not started
			</div>
		{% endif %}
	</div>
</li>
