{% load svg %}

<!-- Additional Documents -->
<li class="lite-task-list__item">
	<div class="lite-task-list__item-header">
		<a id="link-supporting-documentation" href="{% url 'applications:additional_documents' application.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
			Supporting documents
		</a>
		{% if additional_documents %}
			<div class="lite-tag lite-tag--blue">
				Completed
			</div>
		{% else %}
			<div class="lite-tag lite-tag--hollow">
				Optional
			</div>
		{% endif %}
	</div>
</li>
