<!-- Initial -->
<ol class="lite-task-list">
	<li>
		<h2 class="lite-task-list__section">
			{% if is_editing %}
				Basic details
			{% else %}
				<span class="lite-task-list__section-number">1. </span> Prepare application
			{% endif %}
		</h2>
		<ul class="lite-task-list__items {% if is_editing %}govuk-!-padding-0{% endif %}">
			{% lcs 'applications.TaskListPage.ENTER_A_REFERENCE_NAME_SHORT_TITLE' as reference_name_title %}
			{% url 'applications:edit_reference_name' application.id as reference_name_url %}
			{% include "includes/task-list-item.html" with id="reference-name" title=reference_name_title url=reference_name_url status="done" description=application.name %}

			{% url 'applications:edit_told_by_an_official' application.id as told_by_an_official_url %}
			{% include "includes/task-list-item.html" with id="told-by-an-official" title="End use control" url=told_by_an_official_url status="done" description=reference_number_description %}
		</ul>
	</li>
</ol>
