{% load svg %}

<!-- Consignee -->
<li class="lite-task-list__item">
	<div class="lite-task-list__item-header">
		{% if edit_type != 'minor_edit' %}
		<a id="consignees" href="{% url 'applications:consignee' application.id %}" class="govuk-link govuk-link--no-visited-state">
			Consignee
		</a>
		{%  else %}
			 Consignee
		{% endif %}
		{% if application.consignee and consignee_document %}
			<div class="lite-tag lite-tag--blue">
				Completed
			</div>
		{% elif application.consignee %}
			<div class="lite-tag lite-tag--orange">
				In progress
			</div>
		{% else %}
			<div class="lite-tag lite-tag--hollow">
				Not started
			</div>
		{% endif %}
	</div>
</li>
