<!-- Third parties -->
<li class="lite-task-list__item">
	<div class="lite-task-list__item-header">
		<a id="link-third-parties" href="{% url 'applications:third_parties' application.id %}" class="lite-overview-section-header govuk-link govuk-link--no-visited-state">
		Third parties
		</a>
		{% if third_parties %}
			<div class="lite-tag lite-tag--blue">
				Completed
			</div>
		{% else %}
			<div class="lite-tag lite-tag--hollow">
				Optional
			</div>
		{% endif %}
	</div>
	<div class="lite-task-list__item-details">
		{% if third_parties %}
			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th class="govuk-table__header" scope="col">Name</th>
						<th class="govuk-table__header" scope="col">Type</th>
						<th class="govuk-table__header" scope="col">Website</th>
						<th class="govuk-table__header" scope="col">Address</th>
						<th class="govuk-table__header" scope="col">Country</th>
						<th class="govuk-table__header" scope="col"></th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					{% for third_party in third_parties %}
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">{{ third_party.name }}</td>
							<td class="govuk-table__cell">{{ third_party.sub_type.value }}</td>
							<td class="govuk-table__cell">{{ third_party.website|default_na }}</td>
							<td class="govuk-table__cell">{{ third_party.address }}</td>
							<td class="govuk-table__cell">{{ third_party.country.name }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
</li>
