{% load svg %}

{% if can_submit %}
	<li>
		<div class="app-submit-bar">
			<form method="post">
				{% csrf_token %}
				{% if application.status.key in 'applicant_editing,draft' %}
					<button type="submit" value="submit" class="govuk-button" data-prevent-double-click="true">{% lcs "EDIT_APPLICATION_SUBMIT" %}</button>
				{% else %}
					<a href="{% url 'applications:application' application.id %}" class="govuk-button" draggable="false" role="button">{% lcs "EDIT_APPLICATION_DONE" %}</a>
				{% endif %}
			</form>
			{% if application.status.key == 'draft' %}
				<div class="lite-vertical-align">
					<a id="link-delete-draft" href="{% url 'applications:delete' application.id %}?return_to={{ CURRENT_PATH }}" class="govuk-link lite-link--icon">
						{% svg 'close' %}
						{% lcs 'applications.EditStandardApplicationPage.DRAFT_DELETE_LINK' %}
					</a>
				</div>
			{% endif %}
		</div>
	</li>
{% endif %}
