<ol class="app-step-list">
	<li>
		Get someone who knows the technical details of your item to help you check the choices you've made against the
		technical specifications of your item.
	</li>
	<li>
		If you think that the control list entry is wrong, we recommend going back through the process with someone who
		knows the technical details of your item.
	</li>
	<li>
		If you have consulted and used the right information, and you believe this is the correct classification code
		then you should proceed to register for the open general licence.
	</li>
</ol>
