{% extends 'layouts/base.html' %}

{% load svg static %}

{% block back_link %}
	<a href="{% url 'end_users:end_users' %}" id="back-link" class="govuk-back-link">Back to end user advisories</a>
{% endblock %}

{% block body %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<div class="lite-app-bar">
				<div class="lite-app-bar__content">
					<h2 class="govuk-heading-l">{{ title }}</h2>
				</div>
			</div>

            <h3 class="govuk-heading-m">Your Query</h3>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ end_user_advisory.id|reference_code }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reasoning behind query
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ end_user_advisory.reasoning|default:'N/A' }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Notes about end user
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ end_user_advisory.note|default:'N/A' }}
                        </dd>
                    </div>
            </dl>

            <br><br>

            <h3 class="govuk-heading-m">End User Details</h3>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ end_user_advisory.end_user.name }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ end_user_advisory.end_user.sub_type.value }}
                        </dd>
                    </div>
                    {% if end_user_advisory.end_user.sub_type.key == 'individual' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ end_user_advisory.contact_email }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Telephone
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ end_user_advisory.contact_telephone }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if end_user_advisory.end_user.sub_type.key == 'commercial' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Nature of business
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ end_user_advisory.nature_of_business }}
                            </dd>
                        </div>
                    {% endif %}
                    {% if end_user_advisory.end_user.sub_type.key != 'individual' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Contact name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ end_user_advisory.contact_name }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Contact job title
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ end_user_advisory.contact_job_title }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Contact email
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ end_user_advisory.contact_email }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Contact telephone
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ end_user_advisory.contact_telephone }}
                            </dd>
                        </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ end_user_advisory.end_user.address }}<br>{{ end_user_advisory.end_user.country.name }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Website
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if end_user_advisory.end_user.website %}
                                <a class="govuk-link" href="{{ end_user_advisory.end_user.website }}">{{ end_user_advisory.end_user.website }}</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </dd>
                    </div>
                </dl>
            <br><br>

            <div class="lite-tabs__container">
                <a href="{% url 'end_users:end_user_detail' end_user_advisory.id 'case-notes' %}" class="lite-tabs__tab {% if type == 'case-notes' %}lite-tabs__tab--selected{% endif %}" id="link-case-notes">
                    Notes
                    {% if end_user_advisory.exporter_user_notifications_count.casenote > 0 %}
                        <div class="lite-notification-bubble">
                            {{  end_user_advisory.exporter_user_notifications_count.casenote }}
                        </div>
                    {% endif %}
                </a>
                <a href="{% url 'end_users:end_user_detail' end_user_advisory.id 'ecju-queries' %}" class="lite-tabs__tab {% if type == 'ecju-queries' %}lite-tabs__tab--selected{% endif %}" id="link-ecju-queries">
                    ECJU queries
                    {% if  end_user_advisory.exporter_user_notifications_count.ecjuquery > 0 %}
                        <div class="lite-notification-bubble">
                            {{ end_user_advisory.exporter_user_notifications_count.ecjuquery }}
                        </div>
                    {% endif %}
                </a>
            </div>
            {% if type == 'case-notes' %}
                {% include "end_users/tabs/case-notes.html" %}
            {% elif type == 'ecju-queries'%}
                {% include "end_users/tabs/ecju-queries.html" %}
            {% endif %}

		</div>
	</div>

{% endblock %}
