{% if visit_reports %}
	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="col">Reference number</th>
				<th class="govuk-table__header" scope="col">Date</th>
				<th class="govuk-table__header" scope="col">Inspector's Name</th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for visit_report in visit_reports.results %}
				<tr id={{ compliance_case.id }} class="govuk-table__row">
					<td class="govuk-table__cell">
						<a class="govuk-link govuk-link--no-visited-state app-icon-label" href="{% url 'compliance:compliance_visit_details' id visit_report.id "details" %}">
							{{ visit_report.reference_code }}
						</a>
					</td>
					<td class="govuk-table__cell">
						{{ visit_report.visit_date|default:"Not set" }}
					</td>
					<td class="govuk-table__cell">
						{% if visit_reports.case_officer_first_name %}
							{{ visit_report.case_officer_first_name }} {{ visit_report.case_officer_last_name }}
						{% else %}
							Not assigned
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% pagination with data=visit_reports %}
{% else %}
	TODO notice no visits planned
{% endif %}