{% extends "layouts/two_pane.html" %}

{% block body %}
	<h1 class="govuk-heading-l">{{ title }}</h1>
	<p class="govuk-caption-m">This user will no longer be able to log in or perform tasks on LITE on behalf of your organisation.</p>
	<div class="buttons-row">
		<a href="{% url 'users:deactivate_confirm' %}?id={{ user_id }}" role="button" draggable="false" class="govuk-button govuk-button--destructive govuk-!-margin-right-2">Deactivate User</a>
		<a href="{% url 'users:users' %}" role="button" draggable="false" class="govuk-button govuk-button--secondary">Cancel</a>
	</div>
{% endblock %}