{% extends 'layouts/full_width.html' %}

{% load humanize %}

{% block body %}

	{% if userDeactivated == "true" %}
		<div class="information information-animated">
			{% get_string 'users.deleted' %}
		</div>
	{% endif %}

	<div class="app-bar">
		<h1 class="govuk-heading-l">People</h1>
		<div class="app-bar--right">
			<a href="{% url 'users:add' %}" class="govuk-button" draggable="false" role="button">
				Add a user
			</a>
		</div>
	</div>

	{% if data.users|length %}
		<table class="lite-table">
			<thead class="lite-table__head">
				<tr class="lite-table__row">
					<th class="lite-table__header" scope="col">Name</th>
					<th class="lite-table__header" scope="col">Email</th>
					<th class="lite-table__header" scope="col">Status</th>
                    <th class="lite-table__header" scope="col"></th>
					<th class="lite-table__header" scope="col"></th>
				</tr>
			</thead>
			<tbody class="lite-table__body">
				{% for user in data.users %}
					<tr class="lite-table__row">
						<td class="lite-table__cell">{{ user.first_name }} {{user.last_name }}</td>
						<td class="lite-table__cell">{{ user.email }}</td>
						<td class="lite-table__cell">{{ user.status }}</td>
                        <td class="lite-table__cell">
							<a href="{% url 'users:deactivate' %}?id={{ user.id }}&return=users" style="margin: 0;" class="cancel-link">Deactivate</a>
						</td>
						<td class="lite-table__cell">
							<a href="{% url 'users:reactivate' %}?id={{ user.id }}&return=users" style="margin: 0;" class="link">Reactivate</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="govuk-caption-l">You don't have any users at the moment.</p>
	{% endif %}

{% endblock %}
