{% extends 'layouts/two_pane.html' %}

{% block back_link %}
	<a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block two_thirds %}

	<h1 class="govuk-heading-xl">
		{{ title }}
	</h1>

	<dl class="govuk-summary-list">
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				First Name
			</dt>
			<dd class="govuk-summary-list__value">
				{{ user.first_name }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Last Name
			</dt>
			<dd class="govuk-summary-list__value">
				{{ user.last_name }}
			</dd>
		</div>
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">
				Email
			</dt>
			<dd class="govuk-summary-list__value">
				{{ user.email }}
			</dd>
		</div>
	</dl>

	<div class="lite-user-profile-container">
		<a href="{% url 'users:edit' user.id %}" type="submit" class="govuk-button govuk-button--secondary">Edit</a>

		{% if request.user.lite_api_user_id|stringformat:"s" != user.id|stringformat:"s" %}
			{% if user.status == 'Active' %}
				<a href="{% url 'users:change_status' user.id 'deactivate' %}" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-margin-right-2" id="btn-deactivate">Deactivate</a>
			{% elif user.status == 'Deactivated' %}
				<a href="{% url 'users:change_status' user.id 'reactivate' %}" role="button" draggable="false" class="govuk-button govuk-!-margin-right-2" id="btn-reactivate">Reactivate</a>
			{% endif %}
		{% endif %}
	</div>

{% endblock %}
