{% extends 'layouts/base.html' %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' %}
{% endblock %}

{% block body %}

	{% if userDeactivated == "true" %}
		<div class="information information-animated">
			{% get_string 'users.deleted' %}
		</div>
	{% endif %}

	<h2 class="govuk-heading-l">{{ organisation.name }}</h2>

	<div style="display: grid; grid-template-columns: 1fr auto; grid-gap: 30px;">
		<div class="lite-tabs__container">
			<div class="lite-tabs">
				<a href="{% url 'users:users' %}" class="lite-tabs__tab lite-tabs__tab--selected" id="tab-users">{% lcs "MANAGE_ORGANISATIONS_MEMBERS_TAB" %}</a>
                {% if can_administer_sites %}
				    <a href="{% url 'sites:sites' %}" class="lite-tabs__tab" id="tab-sites">{% lcs "MANAGE_ORGANISATIONS_SITES_TAB" %}</a>
                {% endif %}
                {% if can_administer_roles %}
                    <a href="{% url 'roles:roles' %}" class="lite-tabs__tab" id="tab-roles">{% lcs "MANAGE_ORGANISATIONS_ROLES_TAB" %}</a>
                {% endif %}
			</div>
		</div>
		<div class="lite-app-bar__controls">
			<a href="{% url 'users:add' %}" id="button-add-a-member" class="govuk-button" draggable="false" role="button">
				Add a member
			</a>
		</div>
	</div>

	<table class="govuk-table">
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				<th class="govuk-table__header" scope="col">{% lcs "USERS.UsersPage.USER_NAME" %}</th>
				<th class="govuk-table__header" scope="col">{% lcs "USERS.UsersPage.USER_EMAIL" %}</th>
                <th class="govuk-table__header" scope="col">{% lcs "USERS.UsersPage.USER_ROLE" %}</th>
				<th class="govuk-table__header" scope="col">{% lcs "USERS.UsersPage.USER_STATUS" %}</th>
                <th class="govuk-table__header" scope="col"></th>
			</tr>
		</thead>
		<tbody class="govuk-table__body">
			{% for user in users %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						{% if user.first_name %}
							{{ user.first_name }} {{ user.last_name }}
						{% else %}
							<strong class="govuk-tag govuk-phase-banner__content__tag ">
								{% lcs "USER_PENDING" %}
							</strong>
						{% endif %}
					</td>
					<td class="govuk-table__cell">{{ user.email }}</td>
					<td class="govuk-table__cell">{{ user.role.name }}</td>
					<td class="govuk-table__cell">{{ user.status }}</td>
					<td class="govuk-table__cell">
						<a id="link-view-{{ user.email }}" href="{% url 'users:user' user.id %}" class="govuk-link govuk-link--no-visited-state">
							{% lcs "VIEW" %}
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
