{% extends 'layouts/two_pane.html' %}

{% load humanize %}

{% block body %}

	<div class="lite-app-bar">
		<h2 class="govuk-heading-l">{% get_string 'goods.location_lists.title' %}</h2>
		<div>
			<a href="{% url 'apply_for_a_licence:add_preexisting_external_location' draft_id %}" class="govuk-button">
				{% get_string 'goods.location_lists.find_address_button' %}
			</a>
			<a href="{% url 'apply_for_a_licence:add_external_location' draft_id %}" class="govuk-button">
				{% get_string 'goods.location_lists.add_address_button' %}
			</a>
		</div>
	</div>

	{% for external_location in data.external_locations %}
		<div class="lite-item">
			<h4 class="govuk-heading-s" style="margin-bottom: 0;">{{ external_location.name }}</h4>
			<span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Address: </span><p class="govuk-label" style="display: inline-block; {% if not good.good.part_number %}opacity: 0.4;{% endif %}">{{ external_location.address|default:"N/A" }}</p>
			<br/>
			<span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Country: </span><p class="govuk-label" style="display: inline-block; {% if not good.good.control_code %}opacity: 0.4;{% endif %}">{{ external_location.country|default:"N/A" }}</p>
		</div>
	{% endfor %}

{% endblock %}
