{% extends 'layouts/full_width.html' %}

{% block back-button %}
	<a href="{% url 'apply_for_a_licence:external_locations' draft_id %}" class="govuk-back-link lite-persistent-bar--back">Back to External Locations</a>
{% endblock%}

{% block body %}

{{ data }}

<h2 class="govuk-heading-l">Add an external location from your organisation</h2>

{% for good in data.goods %}
	<div class="lite-item">
		<h4 class="govuk-heading-s" style="margin-bottom: 0;">{{ good.description }}</h4>
		<span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Part Number: </span><p class="govuk-label" style="display: inline-block; {% if not good.part_number %}opacity: 0.4;{% endif %}">{{ good.part_number|default:"N/A" }}</p>
		<span style="display: block;">   </span>
		<span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Control Code: </span><p class="govuk-label" style="display: inline-block; {% if not good.control_code %}opacity: 0.4;{% endif %}">{{ good.control_code|default:"N/A" }}</p>
		<div style="display: flex; justify-content: flex-end;">
			<a href="{% url 'apply_for_a_licence:add_preexisting_external_location' draft_id good.id %}" class="govuk-button" role="button" draggable="false" style="margin-bottom: 0;">Add to application</a>
		</div>
	</div>
{% endfor %}

{% endblock %}
