{% extends 'layouts/two_pane.html' %}

{% load svg %}

{% block back_link %}
	<a href="{% url 'apply_for_a_licence:overview' draft_id %}" class="govuk-back-link lite-persistent-bar--back">Back to Overview</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<h2 class="govuk-heading-l" style="max-width: 500px; white-space: normal; line-height: 1.25;">{{ title }}</h2>
		<div class="lite-app-bar__controls">
			{% block right_button %}
                <a href="{% url 'apply_for_a_licence:preexisting_good' draft_id %}" role='button' draggable='false' class='govuk-button'>{% get_string 'goods.add_from_organisation.button' %}</a>
            {% endblock %}
		</div>
	</div>

	<p class="govuk-caption-m">{% get_string 'applications.standard.goods.description' %}</p>

	<br>

	{% if data.goods %}
		{% for good in data.goods %}
            {% block good %}
                <div class="lite-card">
					<div class="app-icon-label">
						<h4 class="govuk-heading-s" style="margin-bottom: 0;">{{ good.good.description }}</h4>
						{% if good.good.status.key == 'verified' %}<span class="app-verified__symbol">{% svg 'verified' %}</span><span class="govuk-visually-hidden"> (Verified good)</span>{% endif %}
					</div>
                    <span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Part Number: </span><p class="govuk-label" style="display: inline-block; {% if not good.good.part_number %}opacity: 0.4;{% endif %}">{{ good.good.part_number|default:"N/A" }}</p>
                    <br/>
                    <span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Control Code: </span><p class="govuk-label" style="display: inline-block; {% if not good.good.control_code %}opacity: 0.4;{% endif %}">{{ good.good.control_code|default:"N/A" }}</p>
                    <br/>
                    <span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Quantity: </span><p class="govuk-label" style="display: inline-block;">{{ good.quantity }} {{ good.unit.value|units_pluralise:good.quantity }}</p>
                    <br/>
                    <span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Monetary Value: </span><p class="govuk-label" style="display: inline-block;">£{{ good.value }}</p>
                </div>
            {% endblock %}
		{% endfor %}
	{% elif not data.goods and draft.draft.licence_type  == 'standard_licence' %}
		<p class="govuk-caption-l">{% get_string 'goods.notice' %}</p>
	{% else %}
        <p class="govuk-caption-l">{% get_string 'good_types.overview_good_types.no_good_types' %}</p>
    {% endif %}


{% endblock %}
