{% extends 'layouts/full_width.html' %}

{% block back-button %}
	<a href="{% url 'apply_for_a_licence:goods' draft_id %}" class="govuk-back-link lite-persistent-bar--back">Back to Goods</a>
{% endblock%}

{% block body %}

<h2 class="govuk-heading-l">Add from your organisation</h2>

{% if description or part_number or data.goods|length %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third lite-filters">
			<div class="lite-filter-box">
				<form method="get">
					<h4 class="govuk-heading-s">Filter</h4>
					<div class="govuk-form-group">
						<label class="govuk-label" for="description">
							Description
						</label>
						<input class="govuk-input" id="description" name="description" type="text" autocomplete="off" autocorrect="off"  value="{{ description }}">
					</div>
					<div class="govuk-form-group">
						<label class="govuk-label" for="part_number">
							Part Number
						</label>
						<input class="govuk-input" id="part_number" name="part_number" type="text" autocomplete="off" autocorrect="off"  value="{{ part_number }}">
					</div>
					<button type="submit" class="govuk-button" style="margin-bottom: 4px; width: 100%;">Filter</button>
				</form>
			</div>
		</div>

		<div class="govuk-grid-column-two-thirds">
			{% if description or part_number %}
				<div class="lite-filter-bar">
					<p>Showing goods where</p>
					{% if description %}
						<p>description contains</p>
						<a href="{% url 'apply_for_a_licence:preexisting_good' draft_id %}?part_number={{ part_number }}" class="govuk-button govuk-button--secondary lite-filter-bar-item">
							<div class="lite-filter-bar-item-remove">
								✕
							</div>
							{{ description }}
						</a>
					{% endif %}
					{% if description and part_number %}
						<p>and</p>
					{% endif %}
					{% if part_number %}
						<p>part number contains</p>
						<a href="{% url 'apply_for_a_licence:preexisting_good' draft_id %}?description={{ description }}" class="govuk-button govuk-button--secondary lite-filter-bar-item">
							<div class="lite-filter-bar-item-remove">
								✕
							</div>
							{{ part_number }}
						</a>
					{% endif %}
				</div>
			{% endif %}
			{% if data.goods|length %}
				{% for good in data.goods %}
					<div class="lite-card">
						<h4 class="govuk-heading-s" style="margin-bottom: 0;">{{ good.description }}</h4>
						<span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Part Number: </span><p class="govuk-label" style="display: inline-block; {% if not good.part_number %}opacity: 0.4;{% endif %}">{{ good.part_number|default:"N/A" }}</p>
						<span style="display: block;">   </span>
						<span class="govuk-caption-m" style="display: inline-block; margin-right: 10px;">Control Code: </span><p class="govuk-label" style="display: inline-block; {% if not good.control_code %}opacity: 0.4;{% endif %}">{{ good.control_code|default:"N/A" }}</p>
						<div style="display: flex; justify-content: flex-end;">
							<a href="{% url 'apply_for_a_licence:add_preexisting_good' draft_id good.id %}" class="govuk-button" role="button" draggable="false" style="margin-bottom: 0;">Add to application</a>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<p class="govuk-caption-l">Nothing matched your search criteria.</p>
			{% endif %}
		</div>
	</div>
{% else %}
	<p class="govuk-caption-l">Your organisation doesn't have any goods.</p>
{% endif %}

{% endblock %}
