{% extends "layouts/two_pane.html" %}

{% block body %}
	<h1 class="govuk-heading-l">{{ title }}</h1>
	<p class="govuk-caption-m">You won"t be able to recover it if you delete it.</p>
	<div class="buttons-row">
		<a href="{% url 'new_application:cancel_confirm' %}?id={{ draft_id }}" role="button" draggable="false" class="govuk-button govuk-button--destructive govuk-!-margin-right-2">Delete Application</a>
		<a href="{% url 'new_application:overview' %}?id={{ draft_id }}" role="button" draggable="false" class="govuk-button govuk-button--secondary">Cancel</a>
	</div>
{% endblock %}
