{% extends 'layouts/base.html' %}

{% load humanize custom_tags %}

{% block back-button %}
	<a href="#" class="govuk-back-link">Back</a>
	<a href="{% url 'new_application:cancel' %}?id={{ data.draft.id }}&return=hub" class="cancel-link">Delete Application</a>
{% endblock %}

{% block body %}

	<span class="govuk-caption-l">{{ title }}</span>
	<h2 class="govuk-heading-l">
		{{ data.draft.name }}
	</h2>

	<span class="govuk-caption-m">The following sections can be completed in any order.</span>

	<!-- Sections -->
	<div class="section-container">
		{% for section in sections %}
			<div class="section">
				<div class="section-header">
					<!--<h4 href="/new-application/form/section/{{ section.id }}?id={{ draft_id }}" class="govuk-heading-s govuk-link">{{ section.title }}</h4>-->
					{% if forloop.counter0 == 0 %}
						<dl class="govuk-summary-list">
							{% for form in section.forms %}
								{% if form.questions|length == 1 %}
									<div class="govuk-summary-list__row">
										<dt class="govuk-summary-list__key">
											{{ form.title }}
										</dt>
										<dd class="govuk-summary-list__value">
											{{ data.draft|keyvalue:form.questions.0.name }}
											<a href="/new-application/form/{{ form.id }}?id={{ draft_id }}&return=overview" class="govuk-link" style="float: right;">Edit</a>
										</dd>
									</div>
								{% else %}
									{% for question in form.questions %}
										<div class="govuk-summary-list__row">
											<dt class="govuk-summary-list__key">
												{{ question.title }}
											</dt>
											<dd class="govuk-summary-list__value">
												{{ data.draft|keyvalue:question.name }}
												<a href="/new-application/form/{{ form.id }}?id={{ draft_id }}&return=overview" class="govuk-link" style="float: right;">Edit</a>
											</dd>
										</div>
									{% endfor %}
								{% endif %}
							{% endfor %}
							<div class="govuk-summary-list__row">
								<dt class="govuk-summary-list__key">
									Creation Date
								</dt>
								<dd class="govuk-summary-list__value">
									{{ data.draft.created_at|str_date|naturaltime }}
								</dd>
							</div>
						</dl>
					{% else %}
						<span class="govuk-caption-m">{{ section.description }}</span>
					{% endif %}
				</div>
				{% if false %}
					{% if forloop.counter0 != 0 %}
						<p class="info-label">Not started</p>
					{% else %}
						<p class="info-label info-label--blue">Completed</p>
					{% endif %}
				{% endif %}
			</div>
		{% endfor %}
	</div>

	<form action="{% url 'new_application:submit' %}?id={{ draft_id }}" method="post">
        {% csrf_token %}
		<button type="submit" class="govuk-button govuk-button--start" name="button" data-prevent-double-click="true">Submit Application</button>
	</form>

	{% load static %}
	<script src="{% static 'javascripts/modal.js' %}"></script>
	<script src="{% static 'javascripts/specific/overview.js' %}"></script>
{% endblock %}
