{% extends 'layouts/two_pane.html' %}
{% load i18n %}

{% block twoThirds %}

	<!-- Error Summary -->
	{% if error %}
	<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
		<h2 class="govuk-error-summary__title" id="error-summary-title">
			There are errors on this page
		</h2>
		<div class="govuk-error-summary__body">
			<ul class="govuk-list govuk-error-summary__list">
				{% for key, value in error.errors %}
				<li>
					<a href="#{{ key }}">{{ value }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}

	<!-- Page header and description -->
	<h1 class="govuk-heading-l">This is a title</h1>
	<div class="govuk-form-group">
		<p class="govuk-caption-m">
			This is a description.
		</p>
	</div>

	<!-- Questions -->
	<form action="" method="post">
		{% csrf_token %}

		{{ form.non_field_errors }}

		{{ wizard.management_form }}
		
		{% for hidden_field in form.hidden_fields %}
			{{ hidden_field.errors }}
			{{ hidden_field }}
		{% endfor %}

		{% for field in form.visible_fields %}
			<div class="govuk-form-group">
				<label class="govuk-label">{{ field.label_tag }}</label>
				<span class="govuk-hint">{{ field.help_text }}</span>
				{{ field.errors }}
				{{ field }}
			</div>
		{% endfor %}

		<!-- Buttons -->
		<div class="govuk-form-group">
			<div class="buttons-row">
				<button type="submit" class="govuk-button" name="button" action="submit">Save and continue</button>
				<a role="button" draggable="false" class="govuk-button govuk-button--secondary" href="/new-application/form/overview?id={{ draftId }}">
					Go to Overview
				</a>
			</div>
		</div>
	</form>

{% endblock %}
