{% extends 'layouts/base.html' %}

{% block body %}

	<a href="/new-application/form/overview?id={{ id }}" class="govuk-back-link">Back to Overview</a>

	<span class="govuk-caption-l">Application for Arms</span>
	<h2 class="govuk-heading-l">{{ section.title }}</h2>

	<span class="govuk-caption-m">{{ section.description }}</span>

	<!-- Pages -->
	<div class="section-container">
		<dl class="govuk-summary-list">
			{% for page in section.pages %}
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						{{ page.title }}
					</dt>
					<dd class="govuk-summary-list__value">
						{% for question in page.questions %}
							{% if question.title.length %}<b>{{ question.title }}</b><br>{% endif %}
							Example answer<br><br>
						{% endfor %}
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="/new-application/form/{{ page.id }}?id={{ id }}">
							Change
						</a>
					</dd>
				</div>
			{% endfor %}
		</dl>
	</div>

{% endblock %}
