{% extends 'layouts/base.html' %}

{% load svg static %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' with title='hub.Tiles.LICENCES' %}
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{% block title %}{% lcs "licences.LicencesList.TITLE" %}{% endblock %}</h1>
		</div>
	</div>

	<div class="lite-tabs__container">
		<div class="lite-tabs">
			{% with request.GET.type as type %}
				<a id="licences-tab" href="{% url 'licences:licences' %}?type=licence" class="lite-tabs__tab lite-tabs__tab{% if not type or type == "licence" %}--selected{% endif %}">
					{% lcs "licences.LicencesList.Tabs.LICENCE" %}
				</a>
				<a id="clearances-tab" href="{% url 'licences:licences' %}?type=clearance" class="lite-tabs__tab lite-tabs__tab{% if type == "clearance" %}--selected{% endif %}">
					{% lcs "licences.LicencesList.Tabs.CLEARANCE" %}
				</a>
				<a id="nlrs-tab" href="{% url 'licences:licences' %}?type=nlr" class="lite-tabs__tab lite-tabs__tab{% if type == "nlr" %}--selected{% endif %}">
					{% lcs "licences.LicencesList.Tabs.NLR" %}
				</a>
			{% endwith %}
		</div>
	</div>

	{% include "filters.html" %}

	{% if licences.results %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{% lcs "licences.LicencesList.Table.REFERENCE_COLUMN" %}</th>
					<th class="govuk-table__header govuk-!-width-one-third" scope="col">{% lcs "licences.LicencesList.Table.GOODS_COLUMN" %}</th>
					<th class="govuk-table__header govuk-!-width-one-third" scope="col">{% lcs "licences.LicencesList.Table.USAGE_COLUMN" %}</th>
					<th class="govuk-table__header govuk-!-width-one-third" scope="col">{% lcs "licences.LicencesList.Table.DESTINATION_COLUMN" %}</th>
					<th class="govuk-table__header" scope="col">{% lcs "licences.LicencesList.Table.STATUS_COLUMN" %}</th>
					<th class="govuk-table__header" scope="col">{% lcs "licences.LicencesList.Table.DOCUMENTS_COLUMN" %}</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for licence in licences.results %}
					<tr class="govuk-table__row lite-accordian-table__row" id="licence-{{ licence.id }}">
						<td class="govuk-table__cell">
							{{ licence.application.reference_code }}
						</td>
						<td class="govuk-table__cell">
							{% for good in licence.application.goods|slice:":3" %}
								<div class="app-expanded-row__item--invert">
									{% if good.good %}
										{{ forloop.counter }}. {{ good.good.control_code }}, {{ good.good.description|summarise:5 }}
									{% else %}
										{{ forloop.counter }}. {{ good.control_code }}, {{ good.description|summarise:5 }}
									{% endif %}
									{% if licence.application.goods|length > 3 and forloop.counter == 3 %}
										<br>
										<span class="lite-hint govuk-!-margin-0">
											(3 of {{ licence.application.goods|length }})
										</span>
									{% endif %}
								</div>
							{% endfor %}
							{% for good in licence.application.goods %}
								<div class="app-expanded-row__item">
									{% if good.good %}
										{{ forloop.counter }}. {{ good.good.control_code }}, {{ good.good.description }}
									{% else %}
										{{ forloop.counter }}. {{ good.control_code }}, {{ good.description }}
									{% endif %}
								</div>
							{% endfor %}
						</td>
						<td class="govuk-table__cell">
							{# TODO Add usage and licenced quantity here #}
							{% if licence.application.goods.0.quantity %}
								{# Check that goods have quantity (not goods type) #}
								{% for good in licence.application.goods|slice:":3" %}
									<div class="app-expanded-row__item--invert">
										0 of {{ good.quantity|summarise:5 }}
										{% if licence.application.goods|length > 3 and forloop.counter == 3 %}
											<br>
											<span class="lite-hint govuk-!-margin-0">
												(3 of {{ licence.application.goods|length }})
											</span>
										{% endif %}
									</div>
								{% endfor %}
								{% for good in licence.application.goods %}
									<div class="app-expanded-row__item">
										0 of {{ good.quantity }}
									</div>
								{% endfor %}
							{% endif %}
						</td>
						<td class="govuk-table__cell">
							{% for destination in licence.application.destinations|slice:":3" %}
								<div class="app-expanded-row__item--invert">
									{{ destination.country.name }}{% if destination.name %} - {{ destination.name|summarise:5 }}{% endif %}
									{% if licence.application.destinations|length > 3 and forloop.counter == 3 %}
										<br>
										<span class="lite-hint govuk-!-margin-0">
											(3 of {{ licence.application.destinations|length }})
										</span>
									{% endif %}
								</div>
							{% endfor %}
							{% for destination in licence.application.destinations %}
								<div class="app-expanded-row__item">
									{{ destination.country.name }}{% if destination.name %} - {{ destination.name }}{% endif %}
								</div>
							{% endfor %}
						</td>
						<td class="govuk-table__cell">
							{{ licence.application.status.value }}
						</td>
						<td class="govuk-table__cell">
							{% for document in licence.application.documents %}
								<a href="{% url 'applications:download_generated_document' document.id licence.application.id %}" class="govuk-link govuk-link--no-visited-state" id="document-download">{{ document.advice_type.value }}.pdf</a>
							{% endfor %}
						</td>
						<td>
							<a id="expand-{{ licence.id }}" class="lite-accordian-table__chevron" onclick="return openTableFold(this);">
								{% svg 'chevron' %}
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% include "includes/pagination.html" with data=licences %}
	{% else %}
		{% include "includes/notice.html" with text="licences.LicencesList.NO_CONTENT_NOTICE" %}
	{% endif %}
{% endblock %}

{% block javascript %}
	<script src="{% static 'shared/lite-frontend/javascripts/accordian.js' %}"></script>
{% endblock %}
