{% extends 'layouts/base.html' %}

{% block back_link %}
	{% include 'includes/breadcrumbs.html' with title='licences.LicencesList.BREADCRUMB' %}
{% endblock %}

{% block body %}
	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">{% block title %}{% lcs "licences.LicencesList.TITLE" %}{% endblock %}</h1>
		</div>
	</div>

	{% include 'includes/tabs.html' %}

	<p class="lite-filters__hint-text lite-filters__hint-text--warning">
		{% lcs 'licences.OpenGeneralLicencesList.WARNING_LINK' as link %}
		{{ link|markdown }}
	</p>

	{% include 'filters.html' %}

	{% if data %}
		<div class="govuk-accordion" data-module="govuk-accordion" id="accordion">
			{% for licence in data %}
				<div class="govuk-accordion__section">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
							<span class="govuk-accordion__section-button" id="accordion-heading-{{ forloop.counter }}">
								{{ licence.case_type.reference.value }} ({{ licence.name|highlight_text:name }})
							</span>
						</h2>
						<div class="govuk-accordion__section-summary govuk-hint govuk-!-margin-bottom-0" id="accordion-summary-{{ forloop.counter }}">
							{{ licence.registrations|length }} {{ licence.registrations|lcsp:'licences.OpenGeneralLicencesList.SUBTITLE' }} {{ licence.registrations.0.submitted_at|str_date }}
						</div>
					</div>
					<div id="{{ licence.id }}-content" class="govuk-accordion__section-content" aria-labelledby="accordion-heading-{{ forloop.counter }}">
						<div class="govuk-grid-row">
							<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
								<p class="govuk-heading-s">{% lcs 'licences.OpenGeneralLicencesList.DETAILS' %}</p>
								<ul class="govuk-list govuk-list--spaced">
									<li>
										{{ licence.description }}
									</li>
									<li>
										{% lcs 'licences.OpenGeneralLicencesList.READ_MORE_LINK' as read_more_link %}
										{{ licence.url|linkify:read_more_link }}
									</li>
								</ul>
							</div>
							<div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
								<p class="govuk-heading-s">{% lcs 'licences.OpenGeneralLicencesList.MORE_INFORMATION' %}</p>
								<ul class="govuk-list govuk-list--spaced">
									<li>
										<span data-definition-title="{{ licence.case_type.reference.value }} ({{ licence.name }})" data-definition-subtitle="{{ licence.control_list_entries|length }} control list entr{{ licence.control_list_entries|pluralize:'y,ies' }}" data-definition-list="{% for clc in licence.control_list_entries %}{{ clc.rating }}{% if not forloop.last %}, {% endif %}{% endfor %}">
											{{ licence.control_list_entries|length }} {{ licence.control_list_entries|lcsp:'licences.OpenGeneralLicencesList.CONTROL_LIST_ENTRIES' }}
										</span>
									</li>
									<li>
										<span data-definition-title="{{ licence.case_type.reference.value }} ({{ licence.name }})" data-definition-subtitle="{{ licence.countries|length }} countr{{ open_general_licence.licence|pluralize:'y,ies' }}" data-definition-list="{% for country in licence.countries %}{{ country.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
											{{ licence.countries|length }} {{ licence.control_list_entries|lcsp:'licences.OpenGeneralLicencesList.COUNTRIES' }}
										</span>
									</li>
									<li>
										{% lcs 'licences.OpenGeneralLicencesList.DOCUMENTATION_HELD_AT' %}
										{% for registration in licence.registrations %}
											{% if registration.site.site_records_located_at_name %}
												{{ registration.site.name }}
											{% endif %}
										{% endfor %}
									</li>
								</ul>
							</div>
						</div>
						<table class="govuk-table">
							<caption class="govuk-table__caption govuk-!-margin-bottom-3">
								{% lcs 'licences.OpenGeneralLicencesList.Table.CAPTION' %}
							</caption>
							<thead class="govuk-table__head">
								<tr class="govuk-table__row">
									<th scope="col" class="govuk-table__header">
										{% lcs 'licences.OpenGeneralLicencesList.Table.REFERENCE' %}
									</th>
									<th scope="col" class="govuk-table__header">
										{% lcs 'licences.OpenGeneralLicencesList.Table.SITE' %}
									</th>
									<th scope="col" class="govuk-table__header">
										{% lcs 'licences.OpenGeneralLicencesList.Table.STATUS' %}
									</th>
								</tr>
							</thead>
							<tbody class="govuk-table__body">
								{% for registration in licence.registrations %}
									<tr class="govuk-table__row">
										<th scope="row" class="govuk-table__header">
											{{ registration.reference_code }}
										</th>
										<td class="govuk-table__cell">
											{{ registration.site.name }}<br>
											<span class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-0">{{ registration.site|get_address }}</span>
										</td>
										<td class="govuk-table__cell">
											<span class="lite-mobile-tag">{{ registration.status.value }}</span>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		{% include "includes/notice.html" with text="licences.LicencesList.NO_CONTENT_NOTICE" %}
	{% endif %}
{% endblock %}
