{% extends 'layouts/two_pane.html' %}

{% load svg %}

{% block back_link %}
	<a href="{% url 'applications:task_list' application.id %}" class="govuk-back-link">Back to task list</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h2 class="govuk-heading-l">
				{% block title %}Describe your goods{% endblock%}
			</h2>
		</div>
        {% if not application.status.value or application.status.key == 'applicant_editing' %}
		<div class="lite-app-bar__controls">
			<a href="{% url 'applications:add_goods_type' application.id %}?next={% url 'applications:open_goods' application.id %}" role='button' draggable='false' class='govuk-button'>
				{% if goods %}
					Add another good
				{% else %}
					{% get_string 'good_types.overview_good_types.add_good_type_button' %}
				{% endif %}
			</a>
		</div>
        {% endif %}
	</div>

	{% if goods %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Name</th>
					<th scope="col" class="govuk-table__header">Part Number</th>
					<th scope="col" class="govuk-table__header">Control List Entry</th>
					<th scope="col" class="govuk-table__header"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for good_on_application in goods %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							{{ good_on_application.description }}
						</td>
						<td class="govuk-table__cell">
							{{ good_on_application.part_number|default_na }}
						</td>
						<td class="govuk-table__cell">
							{{ good_on_application.control_code|default_na }}
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
							<a class="lite-link--icon" href="{% url 'applications:remove_goods_type' application.id good_on_application.id %}">
								{% svg 'close' %}
								Remove
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="lite-information-text">
			<span class="lite-information-text__icon" aria-hidden="true">!</span>
			<p class="lite-information-text__text">
				<span class="govuk-visually-hidden">Information</span>
				You haven't added any goods to your application yet.
			</p>
		</div>
	{% endif %}
{% endblock %}
