{% extends 'layouts/two_pane.html' %}

{% load svg humanize %}

{% block back_link %}
	<a href="{% url 'applications:task_list' application.id %}" id="back-link" class="govuk-back-link">Back to application overview</a>
{% endblock %}

{% block body %}

	<div class="lite-app-bar">
		<div class="lite-app-bar__content">
			<h1 class="govuk-heading-l">
				{% block title %}Add products{% endblock%}
			</h1>
			{% if goods %}
				<p class="govuk-body-m">You've added {{ goods|length|apnumber }} product{{ goods|pluralize }}.</p>
			{% endif %}
		</div>
        {% if application.status.key in 'applicant_editing,draft' %}
		<div class="lite-app-bar__controls">
			<a href="{% url 'applications:add_goods_type' application.id %}?next={% url 'applications:goods_types' application.id %}" role='button' draggable='false' class='govuk-button'>
				{% if goods %}
					Add another product
				{% else %}
					{% lcs 'GoodTypes.OverviewGoodTypes.ADD_GOOD_TYPE_BUTTON' %}
				{% endif %}
			</a>
		</div>
        {% endif %}
	</div>

	{% if goods %}
		<table class="govuk-table lite-responsive-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
					<th scope="col" class="govuk-table__header">Control list classification</th>
					{% if application.application_type.key == 'hmrc_query' %}
						<th scope="col" class="govuk-table__header">Document</th>
					{% endif %}
					<th scope="col" class="govuk-table__header"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for good_on_application in goods %}
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<span class="lite-responsive-table__header">Description</span>
							{{ good_on_application.description }}
						</td>
						<td class="govuk-table__cell">
							<span class="lite-responsive-table__header">Control list classification</span>
							{{ good_on_application.control_code|default_na }}
						</td>
						{% if application.application_type.key == 'hmrc_query' %}
							<td class="govuk-table__cell">
								<span class="lite-responsive-table__header">Document</span>
								{% if good_on_application.document %}
					                {%  if good_on_application.document.safe == True %}
					                    <a href="{% url 'applications:goods_type_download_document' application.id good_on_application.id %}" id="document_download" class='govuk-link govuk-link--no-visited-state'>
					                        Download
					                    </a>
					                    <br/>
					                    <a href="{% url 'applications:goods_type_delete_document' application.id good_on_application.id %}" id="document_delete" class='govuk-link govuk-link--no-visited-state'>
					                        Delete
					                    </a>
					                {% else %}
					                    Processing
					                {% endif %}
					            {% else %}
					                <a href="{% url 'applications:goods_type_attach_document' application.id good_on_application.id %}" id="attach_doc" class='govuk-link govuk-link--no-visited-state'>
					                    Attach
					                </a>
					            {% endif %}
							</td>
						{% endif %}
						<td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
							<a class="lite-link--icon" href="{% url 'applications:remove_goods_type' application.id good_on_application.id %}">
								{% svg 'close' %}
								<span>Remove <span class="lite-responsive-table__help-text">good</span></span>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="lite-information-text">
			<span class="lite-information-text__icon" aria-hidden="true">!</span>
			<p class="lite-information-text__text">
				<span class="govuk-visually-hidden">Information</span>
				You haven't added any products to your application.
			</p>
		</div>
	{% endif %}
{% endblock %}
